[2018-05-27 00:34] manekinekko opened #1 "highlight current selected layer"
![image](https://user-images.githubusercontent.com/1699357/40581346-66ed42d6-6156-11e8-9d32-406469722963.png)

[2018-05-27 00:35] manekinekko opened #2 "auto select the layout toggle button when selecting a layer"
![image](https://user-images.githubusercontent.com/1699357/40581355-97467ce0-6156-11e8-9ede-a4867235b118.png)

[2018-05-27 00:36] manekinekko opened #3 "add a breadcrumb of the current layer path"

[2018-05-27 13:42] manekinekko opened #4 "Fix resizing Top and Left edges"
![2018-05-27 15_10_03](https://user-images.githubusercontent.com/1699357/40586590-815399d6-61c4-11e8-9748-63ca846a6a7a.gif)

[2018-08-30 12:40] #1 closed

[2018-08-30 17:13] manekinekko opened #10 "Hide the vertical scrollbar"
**Describe the bug**
The vertical scrollbar is always visible; It should only be visible if the content is larger than the viewport.

**To Reproduce**
Just open the editor.

**Expected behavior**
No scrollbar visible

**Screenshots**
![image](https://user-images.githubusercontent.com/1699357/44867635-b1019200-ac88-11e8-97c4-1e040c06be85.png)

**Desktop (please complete the following information):*

[2018-08-30 17:16] #3 closed

[2018-08-30 17:18] manekinekko opened #11 "Add PWA support"
**Describe the solution you'd like**
xLayers should be installable and usable in offline mode. Make it a PWA.

[2018-08-30 17:20] manekinekko opened #12 "Add GitHub integration"
**Describe the solution you'd like**
xLayers should be able to connect to the user's GitHub account and push the generate code from the current design.

[2018-08-30 21:29] manekinekko opened #14 "The zoom buttons don't work"
**Describe the bug**
The zoom buttons don't work as expected.

**To Reproduce**
Steps to reproduce the behavior:
Just click on the zoom buttons.

**Expected behavior**
The zoom buttons should zoom in and out as expected.

**Screenshots**
![image](https://user-images.githubusercontent.com/1699357/44880205-161aaf00-acac-11e8-8929-e72cd22df695.png)

[2018-08-31 10:43] daniloff200 commented on #2
#15 should fix this :)

[2018-08-31 10:44] manekinekko commented on #2
Yes. Closing this issue.

[2018-08-31 10:44] #2 closed

[2018-08-31 12:29] gioboa commented on #14
Hi @manekinekko,
I check the issue and the fix is really simple.
In `sketch-container.component.ts` there is a typo.
If you change @ViewChild('canvasRef') in @ViewChild('canvas') the zoom works good.
Now there are other 2 issues:
- the zoom is on the top left corner
- the x scrollbar does not appear even if it is necessary

[2018-09-01 17:24] daniloff200 opened #19 "Editor page is unavailable on Firefox"
**Description**
User has no access to https://xlayers.app/#/editor page on Firefox

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://xlayers.app/#/home
2. Click on Get Started
3. Nothing happens.
4. Check the console, see the error

or

1. Try to go to https://xlayers.app/#/editor
2.  See the error in console

**Expected behavior**
User has access to Editor page

**Screenshots**

[2018-09-03 10:49] manekinekko commented on #14
That's awesome! thanks for investigating this.
Would you mind creating an issue with a detailed description so we can look into this? 🙏🏻

[2018-09-03 12:34] gioboa opened #21 "Add some demo Sketch files"
**Describe the solution you'd like**
Create a folder for some demo Sketch files can be a good idea.

**Additional context**
If I upload the Sketch file that create an issue the contributors can easily jump into the code.

[2018-09-03 14:16] manekinekko commented on #21
Hi, I've added some demo sketchapp files [here](https://github.com/xlayers/xlayers/tree/develop/src/assets/demos/sketchapp).

Would you be up to implement a feature where one could load a demo file, in addition to the available upload process?

[2018-09-03 16:06] gioboa opened #24 "zoom: even if the scrollbar is necessary does not appear"
**Describe the bug**
Even if the scrollbar is necessary does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `md-components-cards-safari.sketch` demo file
2. Click zoom button
3. Scrollbar does not appear

**Screenshots**
![no-scroll](https://user-images.githubusercontent.com/35845425/45031717-e541cd80-b04f-11e8-8635-cae5c8e50ee0.gif)

**Desktop (please complete the followin

[2018-09-04 08:12] vitaliy-bobrov opened #25 "Home logo animation performance"
**Describe the bug**
Logo rotation animation on the homepage triggers hole page re-painting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/#/home'
2. Open Chrome DevTools
3. Options -> More Tools -> Rendering
4. Enable "Paint flashing" option
5. Hole page will be filled in the green color that means that hole page re-paints

**Expected behavior**
Logo animation shouldn't trigger re

[2018-09-04 08:12] vitaliy-bobrov commented on #25
I'll try to prepare PR with a fix later

[2018-09-04 09:43] gioboa opened #27 "zoom: "origin" on preview center"
**Describe the solution you'd like**
At the moment the zoom "origin" is on top left corner. <br> I think the zoom origin is better on the preview center.

**Additional context**
![zoom position](https://user-images.githubusercontent.com/35845425/45023780-9be58400-b037-11e8-958b-95da903b2fc1.gif)

[2018-09-04 09:49] gioboa commented on #14
@manekinekko I created the other two issues so I think you can close this one because it's fixed.

[2018-09-04 11:16] vitaliy-bobrov opened #29 "Fix CONTRIBUTING.md"
**Describe the bug**
It might be a mistake, cause in the `CONTRIBUTING.md` file it says to create a new branch from `master`, not from `develop`.

**Expected behavior**
Contrib documentation should contain instructions with the correct branch - `develop`.

[2018-09-04 11:18] daniloff200 commented on #29
Oops   :dagger:

[2018-09-04 12:40] #14 closed

[2018-09-04 12:41] #29 closed

[2018-09-04 12:42] #27 closed

[2018-09-04 12:42] #25 closed

[2018-09-04 13:11] #11 closed

[2018-09-04 21:14] manekinekko opened #38 "Update the favicon"
using the xlayers pink logo

[2018-09-04 21:19] #19 closed, assigned to nobody

[2018-09-04 21:53] manekinekko commented on #4
@vitaliy-bobrov I reopened this because we're still having the issue (see gif below).

![screencast 2018-09-04 23-29-15 2018-09-04 23_52_20](https://user-images.githubusercontent.com/1699357/45059815-9ae73d80-b09d-11e8-8274-fd36879be4b8.gif)

[2018-09-05 06:59] gioboa commented on #38
I take this one 😄

[2018-09-05 12:02] manekinekko commented on #38
fixed by #40

[2018-09-05 12:02] #38 closed

[2018-09-05 15:06] gioboa commented on #21
@manekinekko What do you think about a select with the demo components? <br> Unfortunately the list must be hardcoded 😢

[2018-09-05 19:50] daniloff200 commented on #24
I have a solution, but, it looks a little bit not completely proper, I should say.

Check out my gif.

I can scroll after the zooming in, but, when I can't scroll up, to the content, which I don't see
For example, I zoomed in a datepicker, then zoomed it again, and can scroll for the whole viewport, but can't see what is on the top. The only way to do it - zoom out again...

![peek 2018-09-05 22-4

[2018-09-05 20:56] gioboa commented on #24
I had investigate and I think the problem is where is used
`translate3d(-50%, 50%, 0px) scale(${zoomLevel})`
Maybe in a different element we have a better result.
So weird, not easy to fix it. :thinking:

[2018-09-06 00:58] manekinekko commented on #21
It's totally fine for now. Let's do it :D

[2018-09-06 01:02] manekinekko commented on #24
What about increasing the margins while zooming in (and decreasing while zooming out), which will give us some room to scroll up and down and keeping the content in the viewport?

[2018-09-06 10:55] gioboa commented on #21
Ok I will implement it. :smile:

[2018-09-21 01:33] manekinekko opened #48 "switch to angular#master^HEAD"
Let's use angular#master^HEAD as our main version.

NOTE: this is forcing us to stay up to date but also, this may introduce some breaking changes, so we should be reactive and fix bugs as they arise ^^

[2018-09-27 09:35] manekinekko commented on #48
Closed by #50

[2018-09-27 09:35] #48 closed

[2018-10-04 13:40] Shikanime commented on #4
The top and left resize actually works on my pull request except for nested layers because of the layer top and left causes interdependence. Which produces the same problem as the current issue.

This means that the layer system may need to be restructured to make it work.

[2018-10-30 14:39] manekinekko opened #58 "Add SSR for the landing page"
Add SSR support for the landing page. See docs here: https://angular.io/guide/universal

[2018-10-31 17:06] #4 closed

[2018-11-16 17:06] manekinekko opened #69 "The preview icon isn't working"
**Describe the bug**
The preview icon isn't working anymore since we moved the preview to the sidebar.

**To Reproduce**
Steps to reproduce the behavior:
1. import a new design
2. click on the preview button

**Expected behavior**
The preview button should show/hide the preview image present on the sidebar.

**Screenshots**
![screencast 2018-11-16 12-03-40](https://user-images.githubusercontent.co

[2018-11-17 10:57] #69 closed

[2018-11-19 11:20] Shikanime opened #71 "Canvas unit test fail"
**Describe the bug**
The variable "isPreview" should have been remove before merging the https://github.com/xlayers/xlayers/pull/66 because it's now always null and not used anymore.
The newly introduced SketchSelectedLayerDirective fail the canvas unit test "should have current page", the reason is still unknow.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout fix/unit-test
2. Remov

[2018-11-19 11:40] Shikanime opened #72 "Cannot click on element anymore"
**Describe the bug**
Cannot click on element anymore.
![screencast 2018-11-19 12-39-42](https://user-images.githubusercontent.com/22115108/48704972-41040780-ebf8-11e8-976d-995131562643.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Load a sketch file
2. Click on any element

**Expected behavior**
The tree structure should have shown the element and the right sidebar should have appeare

[2018-11-19 12:07] manekinekko commented on #72
Well! That's a new bug. I believe it was working for me yesterday on chrome.

[2018-11-19 12:52] Shikanime opened #73 "Unit test integer/float random mock doesn't work"
**Describe the bug**
The int/float random mock's max/min was buggy.

**Expected behavior**
The integer should be in the max/min range

[2018-11-19 12:54] Shikanime commented on #73
The issue is fixed by 1ca1016e8f4eb6513e7da9c2904c5cd6252df60b on https://github.com/sfeir-open-source/xlayers/tree/fix/unit-tests branch

[2018-11-19 13:13] Shikanime commented on #73
Merge issue with #71

[2018-11-19 13:13] #73 closed

[2018-11-19 13:48] Shikanime commented on #72
After investigation. Except Google Chrome the "event.path" array used by the SketchSelectedLayerDirective is not supported by other browser.

[2018-11-21 10:48] manekinekko commented on #24
fixed by https://github.com/xlayers/xlayers/pull/62

[2018-11-21 10:48] #24 closed

[2018-11-21 10:49] manekinekko commented on #71
fixed https://github.com/xlayers/xlayers/pull/74

[2018-11-21 10:49] #71 closed

[2018-11-28 02:54] manekinekko commented on #72
this should be fixed in #75

[2018-11-28 02:54] #72 closed

[2018-12-04 22:09] mindrones opened #89 "CodeGen: add Svelte support"
Hi, are there any plans to support [Svelte](http://svelte.technology/)?

Thanks!

[2018-12-11 11:50] manekinekko commented on #89
Hi, once the codegen feature is ready, we can support any framework and lib.

[2018-12-11 11:55] manekinekko opened #90 "Add support for Curve Points"
**Is your feature request related to a problem? Please describe.**
Currently, the curvePoint data isn't extracted.

**Describe the solution you'd like**
We should be able to enhance the parser to extract the curve point data and convert that into SVG elements, when possible.

**Additional context**
![image](https://user-images.githubusercontent.com/1699357/49798891-b40a2500-fd43-11e8-9fbd-5d0f8d00

[2018-12-14 15:06] Shikanime opened #92 "Codegen doesn't generate code on second upload"
**Describe the bug**
The Codegen show the previous generated code on second upload. We have to refresh every time to make it work again.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a file or demo file
2. Go back by clicking the home button
3. Reselect a new file

**Desktop (please complete the following information):**
 - OS: Mac Mojave 10.14.1 (18B75)
 - Browser Brave
 - Version

[2018-12-14 15:11] Shikanime opened #93 "No style on certain components after CodeGen"
**Describe the bug**
The component is missing for the most part the button style or on a "group" class component.

![image](https://user-images.githubusercontent.com/22115108/50010746-84188700-ffba-11e8-91e2-b0c98c8e044f.png)

**Desktop (please complete the following information):**
 - OS: Mac Mojave 10.14.1 (18B75)
 - Browser Brave
 - Version 0.57.18 Chromium: 71.0.3578.80 (Official Build) (64-bi

[2018-12-14 16:12] Shikanime opened #94 "Bazel can't build subfolder component"
**Describe the bug**
Actual implementation of Angular rules in Bazel doesn't work for component in subfolders. And CDK actually fail to compile with Ivy.

https://github.com/sfeir-open-source/xlayers/tree/build/bazel

**To Reproduce**
Steps to reproduce the behavior:
1. bazel run //src:prodserver

**Desktop (please complete the following information):**
 - OS: Mac Mojave 10.14.1 (18B75)

https://g

[2018-12-18 10:18] manekinekko opened #96 "Refactor the codegen implementation"

[2018-12-18 10:24] manekinekko opened #97 "add documentation to editor/viewer/lib"
The core viewer library and the parsers need developer documentation.
- [x] Let's add create a wiki and make sure the API is well documented.
- [x] add a detailed architecture diagram of the core parsing process

[2018-12-18 10:27] Shikanime opened #98 "Potencial Sketch file version parsing inconsistency"
# Question

Hi,

During my investigation of the sketch style parser for unit tests, I discovered that some parts of the [Style Parser Service](#Style-Parser-Service) are never used.
Because the `if (root.style.textStyle) {` is never the truth and `textStyle` is always undefined in the root case but not in the obj case.

The second remark is that the code followed within the condition is still inva

[2018-12-18 10:30] Shikanime opened #99 "Integration test per Sketch file version"
Make it easy to track the ability of our sketch parser to parse different versions of SketchApp by adding different version of demo files.

[2018-12-18 10:32] manekinekko opened #100 "Migrate third party Drag/Drop to CDK"
**Describe the solution you'd like**
Instead of using a third party component we should use https://material.angular.io/cdk/drag-drop/overview

[2018-12-18 10:35] Shikanime opened #101 "Text doesn't show up"
**Describe the bug**
Text doesn't show up on really old SketchApp version like the 46.

**Expected behavior**
Should show at least the text without style.

**Screenshots**
![image](https://user-images.githubusercontent.com/22115108/48949714-3a97c780-ef39-11e8-8ad1-e5bb2d03f7a1.png)

**Desktop (please complete the following information):**
 - OS: MacOS 10.14.1
 - Browser Firefox Quantum
 - Version

[2018-12-18 10:36] Shikanime commented on #101
The problem is because the text parser of the style parser doesn't exploit the bplist parsing output.

[2018-12-18 10:39] manekinekko opened #102 "Check the SketchApp file against supported version"
**Describe the solution you'd like**
We need to make sure that the sketchapp file being used, has been created with the right SketchApp supported version (52+)

If the version detected isnt supported by xlayers, we need to run through the fallback parsing.

[2018-12-18 10:48] manekinekko opened #103 "Allow closing the current workspace"
**Is your feature request related to a problem? Please describe.**
We need to be able to close the current workspace and load a new one.

[2018-12-18 10:54] manekinekko opened #104 "Rewrite the landing page wordings to be more inclusive"
**Is your feature request related to a problem? Please describe.**
Rewrite the landing page wordings to be more inclusive (technology wise).

[2018-12-18 11:03] manekinekko opened #105 "Flaky monaco tabs on first rendering"
**Describe the bug**
When we generate the code and add it to the monaco editor, the text doesnt show up on the first rendering. We need to switch to another tab and switch back so the text gets re-rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. load any demo file
2. the UI editor shows up with the generated files (one file per tab)
4. code doest show up at first
5. click on any oth

[2018-12-18 11:07] manekinekko opened #106 "Allow downloading the generated code as a ZIP file"
**Describe the solution you'd like**
Allow downloading the generated code as a ZIP file

[2018-12-18 11:08] manekinekko opened #107 "Add Stackblitz integration"
**Describe the solution you'd like**
Add Stackblitz integration

[2018-12-18 11:08] #107 closed

[2018-12-18 15:15] manekinekko commented on #105
FYI, this issue seems to have a random behavior.

[2018-12-18 15:50] manekinekko commented on #93
fixed in https://github.com/xlayers/xlayers/blob/d81b413c594bb436645a2293b2f9e60a52769f14/src/app/editor/code-editor/editor-container/codegen/angular/angular.service.ts#L150-L179

[2018-12-18 15:50] #93 closed

[2018-12-19 08:44] Shikanime commented on #103
The codegen doesn't parse the current ast and only keep the first it parsed. The #92 issue is blocking this feature.

[2018-12-19 08:50] Jefiozie commented on #102
HI @manekinekko, maybe I can have a look at this issue. Is see that there is a `appVersion` where we can check the version from the Sketch file. But I missing the fallback parser part. Can you explain a bit more on this?

[2018-12-19 08:57] Shikanime commented on #92
The currentPage variable can be null when no page is affected (e.g. drag-n-drop page) and throw an exception at generate CSS class name in the codegen.

[2018-12-19 09:03] Shikanime commented on #92
The `codegen' should only execute the analysis when a file is present in the same way that `SketchService' process called after a drop.

We should therefore remove this event trigger and call it synchronous.
[code]

[2018-12-19 09:30] Shikanime commented on #92
@manekinekko I was thinking of adding it to the sketch-container but that doesn't seem right in our current architecture.

In fact, the roles `sketch-viewer.component` and `editor-container.component` are similar. They manage the main view container and call the core logic (parsing/code gen), so i think the codegen should also reside in the `viewer/lib` and the component at the same level as the r

[2018-12-19 09:35] manekinekko commented on #102
@Jefiozie aweome. thank you!!

So historically, the parser was able to parse SketchApp file created in 43+. But the *.sketch file format seemed to be changing version after version and some properties like the text content are now encoded differently, so we decided to improve the parser and only support recent versions of Sketchapp.

So, the idea here is to detect the version of in the *.sketchapp

[2018-12-19 10:44] #92 closed

[2018-12-19 10:50] Shikanime opened #112 "Button export fail"
**Describe the bug**
If codegen is not open the export button will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a demo file
2. Click on export button

**Expected behavior**
The export button should appear after the code have been generated by clicking the codegen button in the menu.

**Desktop (please complete the following information):**
 - OS: Mac Mojave 10.14.1 (18B75)
 -

[2018-12-19 10:59] #112 closed

[2018-12-19 13:30] Shikanime opened #115 "Codegen menu "has changed after it was checked""
**Describe the bug**
A little bug have been introduce into the PR #103.

**To Reproduce**
1. Select a demo file
2. Click on codegen

**Screenshots**
![image](https://user-images.githubusercontent.com/22115108/50222958-27daac00-039a-11e9-98ad-474bcdfceaeb.png)

**Desktop (please complete the following information):**
 - OS: Mac Mojave 10.14.1 (18B75)
 - Browser: Brave
 - Version: 0.57.18 Chromium:

[2018-12-19 14:36] Shikanime commented on #106
I have a good idea related to the navigation menu and that kinda look cool ! I put all related (stackblitz and zip) button in a context menu.

![screencast 2018-12-19 3 pm-32-55](https://user-images.githubusercontent.com/22115108/50226520-a851da80-03a3-11e9-8f22-6b6dfe018a8f.gif)

[2018-12-19 14:48] Jefiozie commented on #102
Great thanks for this information. I will try and implement idea 2. I will refactor a bit so we can use the snackbar from a `Action`.  Do you want me to put this part in a separate PR?

[2018-12-19 15:05] manekinekko commented on #106
I like that. LGTM

[2018-12-19 17:31] manekinekko commented on #106
fixed in #116

[2018-12-19 17:32] manekinekko opened #118 "remove console logs in parser"
remove console logs in parser

[2018-12-19 22:30] #106 closed

[2018-12-19 22:44] #115 closed

[2018-12-19 22:44] Shikanime opened #120 "Sidebar reopen when closing workspace"
**Describe the bug**
When in codegen the close workspace re-open the tree sidebar.

**To Reproduce**
1. Select demo file
2. Click on codegen
3. Click on close

**Desktop (please complete the following information):**
 - OS: Mac Mojave 10.14.1 (18B75)
 - Browser: Brave
 - Version: 0.57.18 Chromium: 71.0.3578.80 (Official Build) (64-bit)

[2018-12-20 09:59] Shikanime commented on #120
For some reason select as `UiState.isCodeEditor` is called several times in a row when we are in codegen.

[2018-12-20 10:35] #120 closed

[2018-12-20 12:02] Jefiozie commented on #102
@manekinekko , looked at the parsing part when It cannot parse it will show a `console.error ` correct? Do you want me to fix that and use good `Exeception handling` that we can use for this issue or am I missing something 😆

[2018-12-20 12:06] manekinekko commented on #102
I think we should not console log errors but if something went wrong, we need to inform the user at the end of the process, that the design was created using an unsupported version so the result may not be accurate.

Also, feel free to review the exception handling. It'd be great to have a centralized Error handling (see https://angular.io/api/core/ErrorHandler)

[2018-12-20 13:20] Shikanime commented on #96
@manekinekko Is the current refactor and logical separation sufficient? So I close this issue.

[2018-12-20 14:05] Shikanime commented on #105
I perform some test, mat-tab may be responsible.

[2018-12-20 14:17] manekinekko commented on #96
should be fine. If needed we'll create another issue.

[2018-12-20 14:17] #96 closed

[2018-12-20 14:17] manekinekko commented on #105
Moved this issue to the backlog.

[2018-12-21 12:19] Shikanime commented on #99
We will switch from `protactor` to `cypress` for all e2e and integration test.

[2018-12-21 12:49] manekinekko opened #122 "CodeGen: add React support"
- [x] add Component codegen
- [ ] add spec file codegen
- [x] add JSX codegen
- [x] add styles codegen
- [ ] add readme codegen
- [x] add export to stackblitz
- [ ] add unit test
- [x] add entry to the editor menu

[2018-12-21 12:50] manekinekko opened #123 "CodeGen: add Vuejs support"
- [x] add Component codegen
- [x] add spec file codegen
- [x] add HTML codegen
- [x] add styles codegen
- [x] add readme codegen
- [ ] add export to stackblitz
- [ ] add unit test
- [x] add entry to the editor menu

[2018-12-21 12:52] manekinekko opened #124 "CodeGen: add Web Components support"
- [x] add Element codegen
- [ ] add spec file codegen
- [x] add HTML codegen
- [ ] add styles codegen
- [x] add readme codegen
- [x] add export to stackblitz
- [ ] add unit test
- [x] add entry to the editor menu

[2018-12-21 22:50] manekinekko opened #125 "CodeGen: add Angular support"
- [x] add Component codegen
- [x] add spec file codegen
- [x] add HTML codegen
- [x] add styles codegen
- [x] add readme codegen
- [x] add export to stackblitz
- [ ] add unit test
- [x] add entry to the editor menu

[2018-12-21 23:02] #118 closed

[2018-12-21 23:41] #100 closed

[2018-12-22 00:14] manekinekko commented on #101
Related issues/tasks:
- #98
- #99

[2018-12-22 01:09] manekinekko opened #127 "Add sharing support"
**Describe the solution you'd like**
As an xlayers.app user, I want to be able to share my current project, using a unique URL.

[2018-12-22 01:17] manekinekko opened #128 "Make the 3d design rotate"
**Describe the solution you'd like**
As an xlayers.app user, I want to be able to rotate the 3d design -presumably- using my mouse.

[2018-12-22 01:34] manekinekko opened #129 "Add Preview image download"
**Describe the solution you'd like**
As an xlayers.app user, I want to download the preview image

![image](https://user-images.githubusercontent.com/1699357/50376920-92971c00-0614-11e9-8617-42a62b3b502d.png)

[2018-12-22 01:37] manekinekko opened #130 "Allow zoom in/out using the mouse wheel"
**Describe the solution you'd like**
As an xlayers.app user, I want to use my mouse wheel to zoom in and out.

[2018-12-22 01:49] manekinekko opened #131 "Too many scrollbars"
Here is an animation of the issue.
![ezgif-4-4866a3b1918b](https://user-images.githubusercontent.com/1699357/50369327-fc231600-0593-11e9-938b-b208f4ebf1f3.gif)

Solution: We want only the code editor vertical scrollbar.

[2018-12-22 16:44] manekinekko opened #133 "Better Code Export"
**Is your feature request related to a problem? Please describe.**
Currently, when the users download or export their generated code into, ie: Stackblitz, the code that is exported is the one produced by the CodeGen service. At the same time, we show that code to the user inside the embedded Monaco editor. If the user decides to update that generated code, and then export that updated code to, ie:

[2018-12-22 16:57] manekinekko opened #134 "Move the parser into its own repository"
**Describe the solution you'd like**
We are planning some interesting features for xlayers but for that, we need to move the sketch parser into its own repository.

The parser is written in pure TS so that should be easy.

[2018-12-22 17:04] manekinekko opened #135 "use @types/sketchapp instead of the internal types"
**Describe the solution you'd like**
We recently published to @types/sketchapp, the SketchApp types we built for xlayers. We now need to use these types instead of the one we still have inside xlayers.

[2018-12-22 17:14] romulocintra commented on #124
@manekinekko  already started playing wing WC' so easy to implement ... thinking about make plugable ... cause stenciljs , svelte , lit-element etc ...

[2018-12-22 21:04] manekinekko opened #136 "Enhance the generated CSS"
**Describe alternatives you've considered**
The current generated CSS classes may contain duplicate rules. We should be able to apply a some CSS deduplication before generating the style file.

[2018-12-22 21:47] romulocintra opened #137 "CodeGen: add StencilJS support"
- [x] add Component codegen
- [ ] add spec file codegen (if applicable)
- [x] add HTML codegen
- [x] add styles codegen
- [x] add readme codegen
- [ ] add export to stackblitz
- [ ] add unit test
- [ ] add entry to the editor menu

[2018-12-22 22:06] manekinekko commented on #137
@romulocintra thanks for open this rfc. Are you already working on this?

[2018-12-22 22:19] romulocintra commented on #137
@manekinekko  yes I'm on it. Just started to get things working but i was trying to find a way to add more integrations without move so many pieces. templates starting getting big ,i'am refactoring in partials ... tomorrow I will drop propper descriptions for the tasks

[2018-12-23 18:26] goodmite opened #141 "How to use it?"
I am sorry for this stupid question but I couldn't find a way to change edit the properties. All the inputs are disabled. Please see screenshot.
Thanks.
<img width="960" alt="gh" src="https://user-images.githubusercontent.com/16303528/50386521-4b8d5180-070e-11e9-80f7-a0fb69565696.png">

[2018-12-23 19:31] manekinekko commented on #141
Hi, this is the expected behavior. The properties are not meant to be edited.

[2018-12-25 12:02] sangupta007 commented on #141
So do I use it. Individual elements aren't draggable as well. If I want to increase font size, how do I do that? Is there any video or GIF on usage. Thank you.

[2019-01-02 08:37] Shikanime commented on #123
I will look for this impl.

[2019-01-02 09:39] Shikanime commented on #123
Unfortunately, VueJS 2 can't be used in Stackblitz. 😫

[2019-01-02 09:47] Shikanime opened #145 "Zoom wrong repositioning"
**Describe the bug**
A old bug have been re-introduced. The zoom show the component in the wrong position but the real position is still valid in the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Move the component in the view
2. Click on Zoom +/-
3. See error

**Screenshots**
![screencast 2019-01-02 10 am-41-26](https://user-images.githubusercontent.com/22115108/50586840-9aa85

[2019-01-02 10:05] Shikanime commented on #141
Hi goodmite,
The main objective of Xlayers is to provide you with a tool to generate agnostic components from your Sketch project, not to replace SketchApp itself.
We think as a good practice, if a modification is necessary, you should edit your Sketch directly.

Or if the view does not correspond to your expectation, then the parser may be in cause and an issue should be opened to be treated.

[2019-01-02 10:42] #135 closed

[2019-01-02 12:58] Shikanime commented on #136
@manekinekko  By default the layer.css is an object. How can it have duplicate key ? 🤔

[2019-01-02 14:09] Shikanime commented on #133
@manekinekko It's a little tricky because we choose not to letting the user edit the design. Why should we let the user edit the code?
Or should we provide a code editor? (Deep questioning 🙇‍♂️)

[2019-01-03 13:50] Shikanime commented on #145
My sidebar resize feature doesn't work anymore you broke everything with the #100 😫

[2019-01-03 14:31] #129 closed

[2019-01-03 16:11] sumitparakh commented on #145
Hi @Shikanime . I want to try and fix this issue.

[2019-01-03 21:06] Shikanime commented on #145
Hi sumitparakh,

About the drag'n drop, the main issue was due to the missing X and Y position offset on the event to calculate the new position on the canvas. Actually i do think that the movement is just a "shadow" effect provided by CDK using a CSS transform.

About the resize i didn't investigate the issue at the moment. The behavior was that both sidebar could be resize with a min-width of ~2

[2019-01-04 06:17] goodmite opened #147 "sketch file upload doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.
Trying to upload a sketch file via drag drop or manual. Doesn't work.

**To Reproduce**
Try to upload a sketch file

**Expected behavior**
Upload should work.

**Screenshots**
Video here: https://imgur.com/oOJrc7R

**Desktop (please complete the following information):**
 - Windows 10
Version 71.0.3578.98 (Official Build) (64

[2019-01-04 10:01] Shikanime commented on #147
Hello goodmite,

What is the SketchApp version of your file ?

[2019-01-07 11:04] manekinekko commented on #136
I was referring to the CSS codegen. We need to run an optimization phase post-codegen (or pre?) to avoid duplicate css rules.

[2019-01-07 11:08] manekinekko commented on #123
Hey @ericsimons, any plans to add support for Vue 2 to stackblitz?

[2019-01-07 11:22] #131 closed

[2019-01-07 17:54] EricSimons commented on #123
@manekinekko yeah! Should be ready by EOM

[2019-01-08 14:08] manekinekko commented on #145
Hey @sumitparakh any updates on this?

[2019-01-08 15:20] sumitparakh commented on #145
Hi @manekinekko . Working on it.

[2019-01-08 17:44] manekinekko opened #149 "Replace Monaco editor with a simple code bloc"
**Is your feature request related to a problem? Please describe.**
The issue is this one https://github.com/xlayers/xlayers/issues/105

**Describe the solution you'd like**
We can entirely remove the monaco editor and use simple code blocs to show the generated code.

**Additional context**
This can be similar to what the Material team is using...
![image](https://user-images.githubusercontent.com

[2019-01-08 17:55] manekinekko opened #150 "Add a custom exception handler"
**Is your feature request related to a problem? Please describe.**
When an issue happens on prod and the app throws an exception, the error stack will show up in the console. We dont wanna ask the users to open the console and copy paste that stack trace. We need to help them with that.

**Describe the solution you'd like**
We need a custom exception handler that would catch that error and its sta

[2019-01-08 20:09] sumitparakh commented on #145
I've found the problem. Will fix it tomorrow.

[2019-01-09 09:30] Shikanime commented on #102
I made the parser throw an `SketchUnSupportedError` in my wip sketch parser legacy improvement.  This will then be handled by your current implementation try catch.

[2019-01-09 11:44] Jefiozie commented on #102
At the moment it will not affect the parser. But I saw the PR you made maybe its best to change this code to use your changes for the verification of the sketch version?

[2019-01-09 12:04] manekinekko commented on #145
@sumitparakh awesome!

[2019-01-09 23:14] #122 closed

[2019-01-10 15:39] GlauberF opened #153 "Upload failed"
upload sketch file crashing

![deepin screenshot_selecionar area_20190110133553](https://user-images.githubusercontent.com/11314585/50979182-1b4efc80-14dd-11e9-9615-ac854340b3f4.png)

![deepin screenshot_selecionar area_20190110133608](https://user-images.githubusercontent.com/11314585/50979193-1f7b1a00-14dd-11e9-90ba-a2acddb5e5be.png)

[2019-01-11 08:11] manekinekko commented on #153
Hi @GlauberF can you share that sketch file with us so we can integrate it into our test suite?

[2019-01-11 08:32] manekinekko commented on #147
@goodmite is your issue similar to this one https://github.com/xlayers/xlayers/issues/153?

[2019-01-11 08:33] #141 closed

[2019-01-11 08:35] manekinekko commented on #89
@mindrones wanna help out with that? We can help you get started.

[2019-01-11 08:38] manekinekko commented on #153
Ref: here is a similar file to reproduce this bug

[2019-01-11 17:56] davo opened #154 "Dependency of @angular-devkit/build-angular causing a high severity alert"
Hello!

An outdated dependency is triggering a high severity alert.

Steps to reproduce the behavior:
1. ``git clone git@github.com:xlayers/xlayers.git`` (current branch: develop)
2. ``npm install``
3. See alert at the end of the process:

[code]

**Updating to @angular-devkit/build-angular@0.12.1** seems to fix the problem.

Cheers

[2019-01-14 08:16] #154 closed

[2019-01-14 17:06] romulocintra commented on #137
Already added support on [REPO](https://github.com/romulocintra/xlayers/tree/feature/include-stenciljs) but wasn't able to run stencil code on stackblitz yet ... need to investigate

[2019-01-15 06:49] Jefiozie commented on #150
@manekinekko can I take this one? Also I saw that you are using the Google Tag manager do you want the errors of production to be send there?

[2019-01-15 11:09] manekinekko commented on #153
Here is the metadata extracted from sketchtool:

[code]

[2019-01-15 11:20] manekinekko commented on #102
example of related issues:
- #153 #147

[2019-01-15 11:42] GlauberF commented on #153
This is the file I'm trying to

[amazing_ui_kit-commerce_0.1.sketch.zip](https://github.com/xlayers/xlayers/files/2759451/amazing_ui_kit-commerce_0.1.sketch.zip)

[2019-01-16 18:15] manekinekko commented on #137
@romulocintra exporting a codegen to stackblitz is not mandatory. Users can still download a ZIP file with the generated code.

[2019-01-16 18:15] #125 closed

[2019-01-16 18:17] #124 closed

[2019-01-16 18:49] romulocintra commented on #137
@manekinekko  ok will cleanup and update to raise PR 👍 but still wanting to see it running on Stackblitz ...

[2019-01-17 10:46] Shikanime commented on #153
There was a try-catch lower but the JSZip exception does not seem to be handled and is threw globally by ZoneJS according to the stack trace.

[2019-01-17 11:00] Shikanime commented on #149
I will look at it

[2019-01-17 13:44] #101 closed

[2019-01-17 13:50] Shikanime commented on #101
The #157 include a best effort for legacy text so we consider this issue is solved.

[2019-01-17 15:38] manekinekko commented on #137
any ETA on this? I'd like to schedule this for v1.

[2019-01-17 15:49] manekinekko commented on #153
Fixed in #159

[2019-01-17 15:49] #153 closed

[2019-01-17 15:49] manekinekko commented on #147
Assuming that this issue is related to #153. This has been fixed in #159

[2019-01-17 15:49] #147 closed

[2019-01-17 16:10] Shikanime commented on #102
#157 and #159 add a version guard and notify the user.

[2019-01-17 16:10] #102 closed

[2019-01-17 16:52] romulocintra commented on #137
During weekend will land the PR

[2019-01-18 12:05] manekinekko commented on #150
Google tag manager can be added later. For the moment, we are just looking to have a centralized error handling and hook the notification manager with it.

[2019-01-18 14:32] Shikanime commented on #149
I tried some alternative like Prism but it doesn't looked great on xlayers. And ngx-highlightjs (because the Angular Material seem to use it as well) but i kinda having trouble with it and I not really sure of why it doesn't work without weird tricks 😢

[2019-01-18 14:46] sumitparakh commented on #149
Hi @Shikanime . May I try? Can you tell what problems are you facing with this integration? What exactly doesn't work in ngx-highlight without weird tricks?

[2019-01-18 14:53] manekinekko commented on #149
@Shikanime can you give Summit more details?

[2019-01-18 14:55] Shikanime commented on #149
Hi @sumitparakh,
So I followed the documentation and Stackblitz demo of https://github.com/murhafsousli/ngx-highlightjs but it doesn't work.
It seems that languages are undefined if I import the `HighlightModule` from `AppModule` and `CodeEditor`.

[2019-01-18 15:37] sumitparakh commented on #149
Thanks @Shikanime . I'll try tomorrow evening.

[2019-01-19 17:06] mindrones commented on #89
Hi, are you going tu support the upcoming Svelte 3?

[2019-01-20 17:31] sumitparakh commented on #149
Hi @Shikanime . I'm not quite sure why you are getting "No languages were registered!" error because i just installed highlightjs (  `npm install -S ngx-highlightjs highlight.js` ), Inserted HighlightModule in code editor module and i didn't get any error.

Here is my version of code-editor.module.ts :-  https://gist.github.com/sumitparakh/d52fed371afed643ad78eb7fb6a56c09

I'm trying to understand

[2019-01-20 19:48] Shikanime commented on #149
Hi @sumitparakh . That is weird, i did the same thing except the fact that i removed all Monaco related code and package.

[2019-01-20 19:52] Shikanime commented on #149
On your side did you try to use the ```html
<pre><code [highlight]="someCode"></code></pre>
[code]

[2019-01-22 07:17] Jefiozie commented on #150
Hi, looking at this issue I see that you are using `@bugsnag/plugin-angular` at the moment for the errorhandling.  Would you like me to use this as a base and extend it by informing the users with the error message by using the notification manager?

[2019-01-22 09:42] manekinekko commented on #150
sure. Let's try this.

[2019-01-22 10:09] manekinekko commented on #89
Let's start off with Svelte 2. And we'll update when 3 is released.

[2019-01-22 10:17] manekinekko opened #161 "Make Stackblitz export configurable"
**Is your feature request related to a problem? Please describe.**
Currently, exporting to stackblitz (SB) is always enabled for all frameworks and technologies. However, some libraries such as Vue 2 are not yet supported by SB. We should then disable the SB support for those technologies.

Hint: we should update the UI state to reflect these changes (see https://github.com/xlayers/xlayers/blob/de

[2019-01-22 10:21] Shikanime commented on #98
Fix by #157

[2019-01-22 10:21] #98 closed

[2019-01-23 15:53] romulocintra opened #163 "VS Code Plugin"
Just having similiar functionality that we have on the web , but from a vscode plugin where you can drag drop your sketchfile and it will generate the files you need to run component/app/project

**Describe the solution you'd like**
I see that would be similar functionality like is already there in download part , but with aditional files like package.json , ts-config that are missing in donwload,

[2019-01-23 17:33] sumitparakh commented on #149
Hi @Shikanime , I think you missed lazy loading example  of its [stackblitz example](https://stackblitz.com/edit/ngx-highlightjs-children) ... It imports HighlightModule with languages in main app.module(AppModule) & only HighlightModule in lazy loading modue (LazyTestModule)....

I did the same in my xlayers code and it worked.

[2019-01-26 18:13] #149 closed

[2019-01-26 18:14] manekinekko commented on #105
Fixed in #164

[2019-01-26 18:14] #105 closed

[2019-01-27 15:34] sumitparakh commented on #128
I want to try this. @manekinekko

[2019-01-28 19:16] manekinekko commented on #128
Please do :)

[2019-01-29 10:20] manekinekko commented on #133
no relevant anymore.

[2019-01-29 10:20] #133 closed

[2019-01-29 10:37] manekinekko opened #165 "Add support for user session"
**Describe the solution you'd like**
Allow users to sign in or create accounts in order to use or access some features, eg project sharing...etc.

[2019-01-29 10:38] manekinekko commented on #150
Hi @Jefiozie any updates on this?

[2019-01-29 10:43] manekinekko commented on #123
Related: https://github.com/stackblitz/core/issues/14

[2019-01-29 11:03] manekinekko opened #166 "Add support for automatic releases"
**Describe the solution you'd like**
Add support for auto release xlayers to prod from a CI or Github Actions.

[2019-01-29 15:12] Shikanime commented on #97
I would consider the minimum doc in the wiki done.

[2019-01-29 15:12] #97 closed

[2019-01-30 10:47] Jefiozie commented on #150
hi @manekinekko, I didn't find the time to have a look at it. Hope I can get started upcoming week.

[2019-01-31 16:18] manekinekko commented on #161
Fixed in #167

[2019-01-31 16:18] #161 closed

[2019-02-04 07:33] Jefiozie commented on #150
Hi @manekinekko , just added the PR. Let me know what you think about it.

[2019-02-05 10:43] #150 closed

[2019-02-05 11:42] manekinekko opened #170 "Should we move to GraphQL?"
Why not?

cc @Urigo

[2019-02-05 11:46] manekinekko opened #171 "Explore Loonajs."
=> https://loonajs.com/docs/angular/

cc @kamilkisiela

[2019-02-05 11:53] manekinekko opened #172 "Automate the CHANGELOG"
Use https://github.com/conventional-changelog/conventional-changelog

[2019-02-05 11:55] manekinekko commented on #172
Must be done with #166

[2019-02-05 16:57] Shikanime commented on #134
@manekinekko I have two ideas for implementing a monorepo that I am still experimenting with, let me have your opinion:

- A monopero that I call "Hybridrepo" that I found more natural, I assume that "packages" are only libraries that can be externalised and keeping the Xlayers application at the root. ([hybridrepo](https://github.com/sfeir-open-source/xlayers/tree/refactor/hybridrepo))
- Classica

[2019-02-05 18:22] Jefiozie commented on #134
Just sharing some thoughts after I had a look at both approaches. I believe there is a advantage on the monorepo example.

At this moment the only thing you want to extract is the parser. But if, for example you  want the editor to be independent it can be a separate package.

Separating packages also forces to have a clean module implementation with specific boundaries.

Also wanted to point out

[2019-02-06 08:18] Shikanime commented on #134
@Jefiozie Thank you for your opinion, that make sense. I will explore this way ⛏

[2019-02-06 08:35] Jefiozie commented on #134
@Shikanime, let me know if you need help. I worked with [NX](https://github.com/nrwl/nx) for a `monorepo` approach and this is working realy good. But if you want to publish separate packages I would go for something else.

[2019-02-06 15:02] Jefiozie commented on #172
When #134 has been done I can have a look at this issue.
Do we need to do something around checking the commit message? Probably we want to be sure that the correct commit message format is being used?

And do we want to generate a changelog for each package or in total?

[2019-02-11 07:44] Jefiozie opened #176 "Sketch 53 with text-preview will resolve as unsupported."
**Describe the bug**
When using the new version of sketch v 53 it will not work with Xl
[card test copy.zip](https://github.com/xlayers/xlayers/files/2850149/card.test.copy.zip)

ayers.
Had a quick look and it looks like in some specific cases there is a `text-preview` option with a PDF in it. The parser doesn't handle this well.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the file

[2019-02-11 14:02] manekinekko commented on #134
@Jefiozie sorry for the delay. been preparing a talk. so for the monorepo story, as discussed with @Shikanime during our weekly meeting, we'll stick with the angular cli for the moment

[2019-02-11 14:08] Jefiozie commented on #134
Thanks for the response! 👍

[2019-02-11 14:15] manekinekko commented on #176
A PDF! Holy sh***. Thanks for reporting this. Good catch. We now have 2 options:
1. Write or use a PDF parser
2. Or ignore it.

cc @Shikanime

[2019-02-11 14:18] Jefiozie commented on #176
Happy to help btw, I have asked our designer why this is in the output. He had no specif changes.. he just upgraded to version `53`.

[2019-02-11 14:19] Jefiozie commented on #176
Added a Sketch file with the problem 👍

[2019-02-11 14:22] manekinekko commented on #176
We can't blame Bohemian B.V. for doing this. We just have to follow along 🤷‍♀️

[2019-02-11 18:17] manekinekko commented on #176
Hi @Jefiozie I went with option 2. Now we can decode the PDF previews from the SketchApp file. Please give it a try and let me know. Cheers.

See #177

[2019-02-11 18:19] manekinekko commented on #172
Commit messages are verified when a PR is created (on github). I dont think we need to double check that on the developer machine. Do we?

It would be great to have a changelog file per project.

[2019-02-11 18:28] #176 closed

[2019-02-11 18:48] Jefiozie commented on #172
I still don't know why but the duplicate items in the changelog are really different commits. See the examples below.

![image](https://user-images.githubusercontent.com/17835373/52585035-034bff00-2e34-11e9-871a-36a49c4f4bb2.png)

![image](https://user-images.githubusercontent.com/17835373/52585042-0a730d00-2e34-11e9-9a37-8b485df12546.png)

The advantage of using tools as [commitizen](https://gith

[2019-02-12 13:38] manekinekko opened #178 "Autofix layer position doesn't work"
**Describe the bug**
When loading a sketch design which hasn't been set to top:0 and left:0. We normally dispatch the `AutoFixPagePosition` action (in the store) that is supposed to reset the x and y position of the outer frame to 0. This doesn't seem to always work.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a sketch design with a top and left different than 0
2. The design should

[2019-02-12 13:50] manekinekko opened #179 "Better dragging capabilities"
**Describe the bug**
Currently, if we have a sketch design with multiple pages (eg, page 1 and page 2), if we drag a design in page 1, this will also drag the design of page 2. This is because the dragging capabilities are set on the sketch-canvas (see [src/app/editor/viewer/lib/sketch-canvas.component.ts](https://github.com/xlayers/xlayers/blob/develop/packages/xlayers/src/app/editor/viewer/lib/s

[2019-02-12 13:53] Shikanime commented on #137
Implemented by #160

[2019-02-12 13:53] #137 closed

[2019-02-12 13:55] manekinekko commented on #123
Fixed in #148

[2019-02-12 13:55] #123 closed

[2019-02-12 13:59] manekinekko opened #180 "Export demo files with SketchApp 53"
Need to also update: https://github.com/xlayers/xlayers/wiki/Usage-&-compatibility

[2019-02-12 14:11] romulocintra opened #181 "CodeGen: add lit-element support"
- [x] add Component codegen
- [ ] add spec file codegen (if applicable)
- [x] add HTML codegen
- [x] add styles codegen
- [x] add readme codegen
- [x] add export to stackblitz
- [ ] add unit test
- [x] add entry to the editor menu

[2019-02-12 21:07] #134 closed

[2019-02-13 10:48] manekinekko commented on #99
Fixed in #175

[2019-02-13 10:48] #99 closed

[2019-02-13 10:49] Shikanime commented on #180
I'll take that issue.

[2019-02-14 10:21] Shikanime commented on #178
@manekinekko Can you provide a sample file ?

[2019-02-14 10:31] manekinekko commented on #178
[card.test.zip](https://github.com/xlayers/xlayers/files/2864545/card.test.zip)

[2019-02-14 12:28] #172 closed

[2019-02-14 12:30] manekinekko opened #185 "Duplicate entries in CHANGELOG"
We should figure out the root cause of this and find a fix to avoid this in the future.

[2019-02-14 13:15] Shikanime commented on #180
Implemented by #184

[2019-02-14 13:15] #180 closed

[2019-02-14 13:24] Shikanime commented on #178
Implemented by #186

[2019-02-14 13:24] #178 closed

[2019-02-14 13:24] manekinekko commented on #178
Fixed in #186

[2019-02-16 20:59] manekinekko opened #190 "Create an xLayers SketchApp plugin"
**Is your feature request related to a problem? Please describe.**
Currently, users who create their design inside SketchApp and want to use xlayers, will have to leave the SketchApp app and open their browser, then go to xLayers.app, then click on the upload button (or just drag and drop their SketchApp file).

**Describe the solution you'd like**
In order to reduce the amount of work, we could m

[2019-02-16 21:12] manekinekko opened #191 "Create a Codegen REST API"
**Is your feature request related to a problem? Please describe.**
xLayers provides a nice and easy UI for users. But this UI isn't suited for batch codegen nor for other automated tasks.

**Describe the solution you'd like**
We want to provide a REST API that will allow developers to send in a SketchApp design and get the generated code. The API should support batch codegen.

**Additional context

[2019-02-19 10:27] manekinekko commented on #128
@sumitparakh any updates on this?

[2019-02-19 12:41] manekinekko opened #193 "UI designer tool: add support for InVision"
InVision project file `.studio` seems to have to same file structure as SketchApp `.sketchapp`.

https://www.invisionapp.com/#tour

[2019-02-19 16:00] #166 closed

[2019-02-19 16:30] sumitparakh commented on #128
@manekinekko . Will give merge request in 2-3 days

[2019-02-19 22:22] manekinekko opened #196 "Remove bugsnag"
**Describe the bug**
We are not using bugsnag anymore. We should remove it.

[2019-02-20 09:56] manekinekko commented on #136
Leaving this doc here as a ref:

[*Eliminating Code Duplication in Cascading Style Sheets by Davood Mazinanian. A Thesis In the Department of Computer Science and Software Engineering*](https://users.encs.concordia.ca/~nikolaos/theses/Davood_Mazinanian.pdf)

[2019-02-20 10:42] manekinekko opened #197 "Add support for zoom reset"
**Describe the bug**
Currently, we can zoom in and zoom out but we can't reset the zoom level.

**Expected behavior**
We should be able to reset the zoom level to 1.

[2019-02-20 21:34] #196 closed

[2019-02-21 11:16] #197 closed

[2019-02-21 14:56] manekinekko opened #200 "Remove PDF previews from side bar"
@Shikanime has done a deep analysis of this feature yesterday, and here is his conclusion:
- since v53, SketchApp has now a new entry containing a PDF document with one or many pages of different preview assets (font, layers...etc).

-  With that being said, this is not really **the** main preview of the document. The main preview of the design is still in the `preview.png` file and we should alwa

[2019-02-21 15:36] manekinekko opened #201 "Use SVG to render the design components"
**Is your feature request related to a problem? Please describe.**
Currently, we are using HTML to render the generated design. We could move to SVG for better end results.

[2019-02-21 17:09] sumitparakh commented on #128
@manekinekko , I want to if there will be always one page in a file? If not, can you share me a sketch file which would generate two pages in xlayers? I just need to test something regarding this issue.

![image](https://user-images.githubusercontent.com/4236211/53187528-58a0c100-3629-11e9-92f5-9ea41364e98d.png)

[2019-02-21 21:37] manekinekko commented on #179
Here is what happening: we have only one `<sketch-app [page]="currentPage">` component that we use for all pages. Each time we change a page we simply pass on a different `currentPage` object to `sketch-app`.

The CdkDrag however update the `transform` css property on a DOM element level. So, obviously, we need to have different DOM element, one per page.

Here is a repro app that illustrate the f

[2019-02-22 08:56] Jefiozie commented on #200
This feature was recent implemented in #177. Why do we want it removed?

[2019-02-22 11:17] manekinekko commented on #200
@Jefiozie I've updated the description with more context.

[2019-02-22 11:52] Jefiozie commented on #200
Thanks this makes more sense.

Agreed on this point! 👍

Why should we leave it in the parser? I think our end users would like to have a basic preview and the generated code. This is why they are using Xlayers. A pdf extra is not really needed.

But this is my point of view and I'm not really an expert on what we should or should not add to Xlayers.

[2019-02-22 12:19] manekinekko commented on #200
What I meant by this is that we need to take this new entry into account and parsing, and eventually ignore it, otherwise we will end up with the same issue as in https://github.com/xlayers/xlayers/issues/176

xLayers is a community driven projet, your opinons and feeback matter a lot 😄

[2019-02-22 13:07] Jefiozie commented on #200
I forgot about #176, thanks for the feedback!

[2019-02-22 16:42] manekinekko commented on #128
there will be files with multiple pages. Use this one as an example: https://github.com/xlayers/xlayers/files/2850149/card.test.copy.zip

[2019-02-22 17:35] Jefiozie opened #202 "Explore CLI tool"
**Describe the solution you'd like**
It would be nice to generate components from a cli tool. This way the sketch files can live next to the components.

Use case I think of is probably most value when people have a sort of ui kit/ designsystem.

Issue created for the discussion

[2019-02-24 20:23] #200 closed

[2019-02-24 20:31] #181 closed

[2019-02-25 19:39] romulocintra opened #206 "Parser : Maps Symbols to HTML tags"
**Is your feature request related to a problem? Please describe.**
Exported HTML insn't fully working html.

**Describe the solution you'd like**

I would like to see generated HTML code maps Symbols to real HTML tags :
Example Symbol that reflects a <button> to be mapped as button and not as a <span> or <div> with styles

From this HTML
[code]

to something similar to :

[code]

Parser mas infer

[2019-02-25 19:52] manekinekko commented on #206
Thanks for requesting this addition. This has been in our radar for quite some time. We were waiting to have a stable API for the Parser and the Codegen.

[2019-02-25 20:44] Jefiozie opened #207 "UI designer tool: add support for Adobe XD"
Investigate if we can support Adobe XD with a custom parser.
Quick look at it results in that it can be parsed by JSON I did not do any further investigation.

[2019-02-25 21:00] manekinekko commented on #89
@mindrones wanna help out with this?

[2019-02-25 21:09] Jefiozie commented on #136
Leaving this for a reference: [link to experimental repo](https://github.com/Jefiozie/xlayers/tree/feature/ExtendingParser)

[2019-02-26 13:41] Shikanime opened #208 "Responsive CSS support"
We should use "display flex" when constraints are set on SketchApp, to be able to make it more responsive.

[2019-02-28 00:51] #179 closed

[2019-02-28 07:16] Jefiozie commented on #136
To give a small update on this topic. At the moment I'm removing all duplicate CS S declarations from the stylesheet.

`Original`
[code]

`Undoubled`

[code]

Next to step is to extract the undoubled declarations and add the references to the original css classes so that both have the needed declarations

`example (ish)`

[code]

[2019-02-28 08:34] romulocintra commented on #136
Grear work so far, you are making easy the semantic css as well ...

[2019-02-28 16:12] Jefiozie opened #217 "Upgrade NGXS"
We should consider upgrade to ngxs.

[Reference of new features](https://medium.com/ngxs/announcing-ngxs-3-4-immutability-helpers-hmr-ssr-much-more-a1fa0bd9f36f)

[2019-03-01 00:44] manekinekko commented on #185
Fixed in https://github.com/xlayers/xlayers/commit/845b331de78e62b22e233a6f413edf167d570825

[2019-03-01 00:44] #185 closed

[2019-03-01 07:41] Jefiozie commented on #193
Here is a basic "Square" designed within `Invision Studio`.

[square.zip](https://github.com/xlayers/xlayers/files/2918400/square.zip)

[2019-03-02 08:08] sumitparakh opened #224 "code editor page down/up scroll doesn't work properly"
**Describe the bug**
When you try to scroll up/down in any generated code, it overlaps the whole page and breaks ui

**To Reproduce**
Steps to reproduce the behavior:
1. Click Code Generation Button
2. Scroll any code file which has enough content to scroll. Scroll using page up or page down button.  Then you will see it breaks the whole UI.

**Expected behavior**
It should scroll properly using p

[2019-03-02 08:20] sumitparakh commented on #224
It's a known bug of contentEditable component.
https://bugs.webkit.org/show_bug.cgi?id=38213

[2019-03-04 18:26] Jefiozie commented on #136
Leaving this for a reference here: [stylelint in browser](https://github.com/alexzuza/stylelint-browser)

[2019-03-04 21:55] manekinekko opened #229 "Add support for images inside designs"
**Is your feature request related to a problem? Please describe.**
Images used as assets inside designs aren't currently supported. We should fix that.

Sketch file used to test this support: [xlayer.test.sketch.zip](https://github.com/xlayers/xlayers/files/2928357/xlayer.test.sketch.zip)

[2019-03-04 21:56] manekinekko commented on #229
Sketch used to test this support: [xlayer.test.sketch.zip](https://github.com/xlayers/xlayers/files/2928357/xlayer.test.sketch.zip)

[2019-03-04 22:19] manekinekko opened #230 "Add support for multi-page previews"
**Is your feature request related to a problem? Please describe.**
We currently show only the preview of the last page. We need to change preview according to the active/selected page.

![screencast 2019-03-04 23-16-26](https://user-images.githubusercontent.com/1699357/53766691-cd021c80-3ed3-11e9-8f1f-8963d2225a7c.gif)

[2019-03-04 22:26] manekinekko opened #234 "Landing page better UX and UI design"
**Is your feature request related to a problem? Please describe.**
Our current landing page could get some refresh to take advantages of wide screen.

![image](https://user-images.githubusercontent.com/1699357/53766980-b27c7300-3ed4-11e9-801a-1350e02e30bf.png)

Any suggestions?

[2019-03-04 22:49] manekinekko opened #237 "Zoom buttons should be highlighted when active"
**Describe the bug**
When the zoom buttons are active (zoomed in/zoomed out) they are not highlighted as such (red UI).

**Expected behavior**
The zoom buttons should be highlighted as active (red UI) when they are used.

**Screenshots**
![screencast 2019-03-04 23-43-12](https://user-images.githubusercontent.com/1699357/53767951-ac3bc600-3ed7-11e9-8fe2-d7a20eec1d33.gif)

[2019-03-04 23:18] manekinekko opened #238 "Add e2e test suites for Cypress"
**Is your feature request related to a problem? Please describe.**
We wanna start to have e2e test for most main feature of xLayers.

**Describe the solution you'd like**
Have a set of e2e tests written using Cypress (already setup) that would test the following specs:

Landing:
- [x] [E2E-LA1]: the landing page should render the getting started button
- [x] [E2E-LA2]: the getting started button s

[2019-03-05 00:18] manekinekko opened #240 "Explore embedding Stackblitz into xLayers"
**Is your feature request related to a problem? Please describe.**
We could embed Stackblitz into xLayers editors for seamless integration. See docs: https://stackblitz.com/docs#embedding

[2019-03-05 08:26] #217 closed

[2019-03-05 08:45] manekinekko opened #243 "CodeGen: add Flutter support"
- [ ] add Component codegen
- [ ] add spec file codegen (if applicable)
- [ ] add HTML codegen
- [ ] add styles codegen
- [ ] add readme codegen
- [ ] add export to stackblitz (or other external editor)
- [ ] add unit test
- [ ] add entry to the editor menu

See getting started: https://flutter.dev/docs/get-started/codelab

[2019-03-05 08:54] manekinekko opened #244 "CodeGen: add Angular Element support"
- [ ] add Component codegen
- [ ] add spec file codegen (if applicable)
- [ ] add HTML codegen
- [ ] add styles codegen
- [ ] add readme codegen
- [ ] add export to stackblitz (or other external editor)
- [ ] add unit test
- [ ] add entry to the editor menu

See docs: https://angular.io/guide/elements

[2019-03-05 10:52] manekinekko opened #245 "Update @types/sketchapp"
**Is your feature request related to a problem? Please describe.**
Update the typings. Cc @Shikanime

Cf. https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sketchapp/index.d.ts

[2019-03-06 09:42] Shikanime opened #247 "Add support for Curve Point mask"
**Is your feature request related to a problem? Please describe.**
Actually, shape mask are not supported and this is a second level feature that follows #90.

**Describe the solution you'd like**
We need to use SVG <mask /> to define a mask and find a way to add the mask to previously parsed SVG <path />.

[2019-03-06 10:23] Shikanime opened #248 "Use Material Icon instead of ShapePath icon"
**Is your feature request related to a problem? Please describe.**
In order to simplify and minimize the duplication of SVG code, we can find a way to use the existing Material icon.
Because we can use a set of icons in SketchApp.

[2019-03-06 11:19] Shikanime commented on #248
Since its a misunderstand i will close this issue

[2019-03-06 11:19] #248 closed

[2019-03-06 14:51] Shikanime opened #249 "Preview border offset"
**Describe the bug**
Using border CSS, move everything by 1px bottom-right for each layer.

**Expected behavior**
Using outline instead

**Screenshots**
![image](https://user-images.githubusercontent.com/22115108/53889719-2dee3980-4027-11e9-9e27-c2b5216f39f7.png)
![image](https://user-images.githubusercontent.com/22115108/53889725-334b8400-4027-11e9-99b3-3d412c82af4b.png)

**Sketch (please complet

[2019-03-06 15:19] manekinekko commented on #249
We also can use box-shadow to simulate borders:

With border | With box-shadow
-- | --
border: 1px solid red | box-shadow: inset 0 0 0 -1px red
border-top: 1px solid red | box-shadow: inset 0 1px 0 0 red
border-right: 1px solid red | box-shadow: inset -1px 0 0 red
border-bottom: 1px solid red | box-shadow: inset 0 -1px 0 0 red
border-left: 1px solid red | box-shadow: inset 1px 0 0 red

[2019-03-06 17:02] manekinekko opened #252 "Consider generating SCSS files as well"
**Is your feature request related to a problem? Please describe.**
Currently, we codegen CSS code for styling.

**Describe the solution you'd like**
We can also codgen SCSS.

[2019-03-07 08:01] romulocintra commented on #243
Love it can i work on that!?

[2019-03-07 14:44] Jefiozie opened #253 "Enhance support for CSS, SASS or LESS"
**Describe the solution you'd like**
We have found a library called [css-purge](https://www.npmjs.com/package/css-purge) that would help us with the optimization of the `css` part.

As this library is only available for `node` we are looking into a option to port it.
With this we would like to investigate other compiler(s)/ library's that will support other technology's like `sass` and `less`
At t

[2019-03-07 15:32] #249 closed

[2019-03-07 15:35] #136 closed

[2019-03-07 15:59] krvajal commented on #238
I want to do this. Can I claim the issue?

[2019-03-07 16:04] Jefiozie commented on #238
Hey @krvajal, yes you can and thank you! Let me know if you have any problems.

[2019-03-08 08:38] Shikanime opened #256 "SVG border chunked"
**Describe the bug**
SVG implementation actually uses the stroke property and therefore we have no control over its location (inside, center, outline...). And make the border sometime outside of the svg "canvas" and be hidden.

**Expected behavior**
Some possibility can be experimented to solve this issue.

The simplest is to create an offset to make sure that the border will never been chunked bu

[2019-03-08 10:01] manekinekko commented on #238
@krvajal thanks for helping with this issue. Can you let us know which scenario you are working on? and can you make sure you submit one PR per scenario? 🙏🏻

[2019-03-08 10:11] krvajal commented on #238
Sure, I am working on setting up cypress first and updating the CI config to run the tests. I will have a PR ready later today.

[2019-03-08 13:16] #229 closed

[2019-03-08 17:26] Jefiozie commented on #237
This one can be closed as #255 is merged. Or is there still some work we would like to do on this topic?

[2019-03-08 17:42] #90 closed

[2019-03-08 17:43] #237 closed

[2019-03-08 17:45] manekinekko commented on #128
Any updates on this? Need help?

[2019-03-08 18:26] manekinekko commented on #245
Note: close this issue when https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33715 gets merged.

[2019-03-08 21:16] #224 closed

[2019-03-08 22:15] manekinekko commented on #230
We just figured out that a `.sketch` design file contains only one entry `previews/preview.png` representing the design preview for the whole document. We don't have access to the pages previews.

[2019-03-08 23:56] sumitparakh commented on #128
I'm outside now. Will share draft PR by Tuesday.

[2019-03-10 21:46] manekinekko commented on #245
@types/sketchapp@1.0.2 is LIVE on npm.

[2019-03-10 21:46] #245 closed

[2019-03-11 12:41] manekinekko opened #267 "Restructure the application folders and files"
**Is your feature request related to a problem? Please describe.**
Now that the app is growing, we need to review the whole application structure.

[2019-03-12 10:52] #201 closed

[2019-03-12 10:54] manekinekko commented on #202
Scenario: export to xLayers Labs, or share on xLayers Labs.

[2019-03-12 13:36] Jefiozie commented on #240
Reference for myself: https://codesandbox.io/docs/importing#define-api

[2019-03-12 18:13] Jefiozie opened #270 "Highlight dropzone on drag"
**Is your feature request related to a problem? Please describe.**
When you drag and drop a file on xLayers it should highlight the dropzone.
At the moment there is no feedback on where you can drop it.

**Describe the solution you'd like**
A basic highlight off the dropzone

[2019-03-13 09:20] Jefiozie opened #272 "Drop zone is not working on a windows OS"
**Describe the bug**
If you want to drop a sketch file on the dropzone it doesn't work on a windows machine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to xLayers
2. Drop in a sketch file
3. See error (nothing happens)

**Expected behavior**
It should read the sketch file.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: chrome
 - Version: 73

W

[2019-03-13 11:05] Shikanime commented on #234
We should also redo all the previews since they have been updated and are more accurate.

[2019-03-13 17:54] Jefiozie commented on #272
So I did a couple of tests again and I looks like my browser had strange behaviour.
After reboot it worked again 😔

Closing this issue for now as it probably is a specific situation.

[2019-03-13 17:54] #272 closed

[2019-03-13 20:47] Jefiozie opened #274 "Support multiple translations"
**Describe the solution you'd like**
It would be nice if we could support multiple languages based on the users language. The default language should always be `English`.

Created the issue to discuss this topic.

**Additional context**
- I think [ngx-translate](http://www.ngx-translate.com/) will be the package to use?

[2019-03-14 13:20] #267 closed

[2019-03-14 13:41] manekinekko opened #275 "Improve Cypress installation on Netlify"
Use CI=1 env var to improve the installation part.

See related blog post: https://gatsby-blog-0a5be4.netlify.com/test-on-netlify/

[2019-03-18 07:17] Jefiozie opened #279 "React cannot be exported to StackBlitz."
**Describe the bug**
Using the generated `React` code in Stackblitz results in a error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'code-editor'
2. Click on 'Choose Framework'
3. Click on the 'React' framework
4. Click on `Open project in StackBlitz`
5. See error

**Expected behavior**
Project should be exported to StackBlitz

**Screenshots**
![image](https://user-images.githu

[2019-03-18 07:35] Jefiozie opened #280 "Linting does not work correct on Windows"
**Describe the bug**
When running linting on commit it does not work correctly on `Windows`

**To Reproduce**
Steps to reproduce the behavior:
1. Change a file
2. Commit it to git
3. See error

**Expected behavior**
The linting should run normal.

**Desktop (please complete the following information):**
 - OS: Windows

[2019-03-18 07:38] Jefiozie commented on #280
To bypass this problem people can use the following steps:

1. Run `ng lint --fix`
2. Resolve issues that are comming from linting and add changed files to Git with `git add`
3. Commit the changes with bypassing the lint-staged step with following command: `git commit -m "MESSAGE" --no-verify`

[2019-03-19 09:49] #280 closed

[2019-03-19 10:00] manekinekko commented on #279
Maybe a related issue: https://github.com/facebook/create-react-app/issues/748

[2019-03-19 12:34] Jefiozie commented on #280
For reference:

[lint-staged](https://github.com/okonet/lint-staged/issues/547)
[angular cli](https://github.com/angular/angular-cli/issues/13078)

[2019-03-19 12:36] Jefiozie commented on #238
hey @krvajal, any updates on this issue? Are you facing problems we can help you with if so please let u know.

[2019-03-19 12:37] Jefiozie commented on #243
hey @romulocintra, do you have any updates on this issue? If you need any help just ping us.

[2019-03-19 14:54] t-dambacher opened #283 "CodeGen: add Xamarin.Forms support"
- [ ] add Component/Controler logic
- [ ] add spec file (if applicable)
- [ ] add HTML/XML/View (if applicable)
- [ ] add styles
- [ ] add readme
- [ ] add export to stackblitz (or other external editor)
- [ ] add unit test
- [ ] add entry to the editor menu

Hi everyone,

As a (mainly) .NET developer, I would love to have the support of Xamarin.Forms in xLayers, as it will help me creating new ap

[2019-03-19 14:58] manekinekko commented on #283
Hi @t-dambacher we would love to add support for Xamarin.Forms. We are looking forward to your PR

[2019-03-19 15:17] Jefiozie commented on #240
reference: [code-server](https://github.com/codercom/code-server)

[2019-03-19 15:45] #279 closed

[2019-03-20 18:52] romulocintra commented on #243
Hi, @Jefiozie  did not had time to look deeply on that .

But i found that code needed for flutter to paint the components will very different that one we output.

Meaning a simple Css equivalent file would be something like :

[code]

or something like :

[code]

This means we must create some transforms to be really applied as style , beside of that all layout part isn't easy to apply at this st

[2019-03-20 18:54] romulocintra commented on #243
@manekinekko  any friend from google involved ? to give us a hand on this !?

[2019-03-21 07:44] krvajal commented on #238
Hey folks, I created an initial PR here ☝️ . I will like to get some feedback.

[2019-03-21 09:36] Shikanime commented on #256
I will close this issue since it has been resolved, but it can be reopened if a more accurate solution than the current implementation has been found.

[2019-03-21 09:36] #256 closed

[2019-03-21 11:29] manekinekko opened #286 "Move the home folder to /src"
**Describe the solution you'd like**
We would like to move the landing page, which is in `packages/xlayers/src/app/home/` to the `/src` root folder. This would help us separate the landing page from the actual `packages/xlayers` app.

[2019-03-21 11:51] manekinekko opened #287 "Remove all Sketch reference from DOM elements and attr"
**Describe the solution you'd like**
We need to remove all `sketch` references from HTML element name, attributes, and Angular components/Directives class names (+ test files).

For instance:

- Element names: `sketch-viewer-container` --> `xly-viewer-container`
- Classe names: `SketchPreviewComponent` --> `PreviewComponent`
- Directive names: `SketchStopEventPropagation` --> `xlyStopEventPropagat

[2019-03-21 13:57] Shikanime commented on #287
Do that also concern the SketchParser?

[2019-03-21 14:00] Shikanime commented on #286
I will take it.

[2019-03-21 14:06] Shikanime commented on #286
@manekinekko To be sure you want to move it to the `packages` dir or `xlayers/src` dir ?

[2019-03-22 15:10] manekinekko commented on #287
Nope. Just xlayers. The current sketch parser was done for SketchApp.

[2019-03-22 15:11] manekinekko commented on #286
Yes, xlayers/src.

[2019-03-26 10:19] #128 closed

[2019-03-26 11:17] #170 closed

[2019-03-26 11:17] #171 closed

[2019-03-26 18:21] #247 closed

[2019-03-27 20:09] Jefiozie commented on #240
Closing this down as explained in the PR.

[2019-03-27 20:09] #240 closed

[2019-04-01 08:30] #287 closed

[2019-04-01 08:32] #286 closed

[2019-04-04 12:55] manekinekko opened #295 "add support for Sketch Symbols"
Use this design file which contains a design that is a symbol instance.
[symbol-demo.sketch.zip](https://github.com/xlayers/xlayers/files/3045596/symbol-demo.sketch.zip)

[2019-04-04 22:26] manekinekko commented on #275
Fixed by adding  CI=1 in the netlify env vars UI.

[2019-04-04 22:26] #275 closed

[2019-04-09 16:16] #238 closed

[2019-04-16 12:52] Shikanime commented on #243
I wrote a simple design document that should highlight some points about how we can implement Flutter in CodeGen assuming a minimal knowledge of the xLayers flow (CodeGen services). https://docs.google.com/document/d/1xO6GvXif8AAubMrvTeC2PglcpQrWdVmvIY2bDfxOQl4/edit?usp=sharing

[2019-04-16 16:07] romulocintra commented on #243
Very good 👍

[2019-05-19 14:46] Jefiozie commented on #295
I will assign my self for now so that anybody can pick this up. For now I will probably pick up smaller issues that I can fix within a couple of hours as this fits better in my agenda.

[2019-05-20 04:11] #270 closed

[2019-06-05 05:34] #230 closed

[2019-06-05 07:00] Jefiozie opened #304 "Upgrade Stencil to Stencil `One`"
Recently `Stencil` has release there official `One` version. This includes breaking changes [see this](https://github.com/ionic-team/stencil/blob/master/BREAKING_CHANGES.md).
We need to update the codegen part for this.

[2019-06-08 19:53] Jefiozie commented on #304
I will take this issue as I'm already working with Stencil on a daily base.

[2019-06-10 17:58] Jefiozie commented on #274
For people looking through the issues. The initial implementation will be `Dutch`, `English` as you can see in PR #305.

Would you the support for a another language, please let us know!

[2019-06-14 19:07] Xample commented on #202
Oh yes, I can imagine something like this:
[code]

[2019-06-17 21:52] #283 closed

[2019-06-17 22:23] #304 closed

[2019-06-19 17:18] #274 closed

[2019-06-21 10:46] Jefiozie opened #311 "translate pointers on landing page"
I forgot the translation of the pointers on the landing page. This needs to be translated.
![image](https://user-images.githubusercontent.com/17835373/59918083-f794c880-9423-11e9-8f13-c420a056f3b7.png)

[2019-06-21 10:55] Jefiozie opened #312 "Update landing page with new screenshot"
We recently made some changes to the layout of xlayers. We should update the landing page screenshots.

[2019-06-29 18:22] sumitparakh commented on #311
Hi @Jefiozie , I see that the translations are already there. If so, can we close this issue?  Let me know if i am missing something.

![image](https://user-images.githubusercontent.com/4236211/60387967-5dd6b680-9ac8-11e9-9b6d-3c27b210b214.png)

[2019-06-30 14:47] Jefiozie commented on #311
Hi @sumitparakh, thank for looking into this. It looks like you are right (based on your screenshot) when I'm back from some time off I will have a look at it.

[2019-07-08 18:08] Jefiozie commented on #311
Hi @sumitparakh, I just had a look at this issue and the issue is a valid issue. Is it possible that you have an extension that is translating text for you and this is the result?

Would you like to help me out with this issue? I can guide you through the parts that need to be changed to get the correct way of translating these pointers.

Let me know what you think about it.

[2019-07-10 04:47] sumitparakh commented on #311
Got it. I'll fix it today.

[2019-07-10 05:03] Jefiozie commented on #311
Great! 🙏 If you need my help or have any questions just ping me on Slack.

[2019-07-15 16:48] #311 closed

[2019-07-18 09:41] manekinekko commented on #191
We are use @nestjs framework for the REST API.

[2019-08-05 16:31] sumitparakh opened #315 "Make home page responsive"
**Is your feature request related to a problem? Please describe.**
xlayers home page is not mobile friendly. (Refer Screenshot below)

**Describe the solution you'd like**
It should be responsive in devices of all sizes

![image](https://user-images.githubusercontent.com/4236211/62480030-69ef1b80-b7cc-11e9-941f-5e1b3e022757.png)

[2019-08-08 08:01] xclee opened #317 "TypeError: Cannot read property '0' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2019-08-08 14:14] Jefiozie commented on #317
Hi, I think something did go wrong when creating this issue. I'm closing it down, if you need any help please fill in our big report as described in the template.

[2019-08-08 14:14] #317 closed

[2019-08-11 17:14] sumitparakh opened #318 "Can't get reference to codeEditor"
**Describe the bug**
When you press any key in code editor, you'll see the following error msg:-
**Cannot read property 'nativeElement' of undefined**

**To Reproduce**
Steps to reproduce the behavior:
1. Open any sketch design
2. Go to code view
3. Press any key in any code editor file
4. See error

**Expected behavior**
Code should have got code editor's reference to simulate scroll behaviour fo

[2019-08-12 10:15] #318 closed

[2019-08-22 18:14] Jefiozie opened #320 "Make parser and generator isomorphic (node) complaint"
As we are looking at a vscode plugin we need to support node. ATM I copied over parts of the project and made some changes to it so that it can work with node.

Parts that come up are the FileReader, the type File.

We need to do this after the PR of #303 these will be published to npm.

[2019-08-23 14:10] AnnMilesCHR opened #321 "Could not load a Sketch preview "images/853732577995ec08625706620b0235b0184b90e8.pdf""
Steps to reproduce the behavior:
1. Go to 'Upload A Design from Your Computer '
2. Select a '.sketch' file and click 'Open'
3. See error

Sketch v56.2 (81672)
iMac running macOS Mojave 10.14.6
Chrome v76.0.3809.100 (Official Build) (64-bit)

[2019-08-23 18:32] Jefiozie commented on #321
Thank you for submitting this issue. Is it possible to share the sketch file you uploaded? This way we can assist you better why reproducing the issue.

Thanks

[2019-08-26 11:07] Shikanime opened #322 "Separate BlocGen framework render from web BlocGen"
**Describe the solution you'd like**
Create a new blocgen projects per framework.

Related to: #303

[2019-08-28 13:14] AnnMilesCHR commented on #321
Ann Miles has shared a OneDrive for Business file with you. To view it, click the link below.
<https://chrsolutionsinc649-my.sharepoint.com/:u:/g/personal/ann_miles_chrsolutions_com/Ee48F6DzOjhMgbHwIwl2dBkBYZUSM1_zj7KPJJgzjEO_lw>
[https://r1.res.office365.com/owa/prem/images/dc-generic_20.png]<https://chrsolutionsinc649-my.sharepoint.com/:u:/g/personal/ann_miles_chrsolutions_com/Ee48F6DzOjhMgbHwIw

[2019-08-28 15:46] manekinekko commented on #321
I have investigated this issue and here is a fix for this bug:

### tl;dr
We need to move the PDF check section to the top of the if/else block:
https://github.com/xlayers/xlayers/blob/ce8c800d58252db216b78e2a285729fc73939575/src/app/core/sketch.service.ts#L154-L157

### Details
This sketch file contains a PDF file under `images/xxxx.pdf`. So our parser treats this as an image because that was the

[2019-08-28 19:28] bitcointroy opened #323 "Could not load a Sketch preview "images/5dd04a87d1827ce5b0a269d480e531417eafcce4.pdf""
**Describe the bug**
Source Sketch File from the UX/UI designer won't load on xlayers.dev

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'xlayers.dev'
2. Click on 'upload file from your computer'
3. Scroll down to 'sharetribe flex desktop'
4. See error

**Expected behavior**
Source file uploaded into xlayers.dev so we can convert from Sketch to react code

**Screenshots**
If applicabl

[2019-08-28 20:02] Jefiozie commented on #323
Hi, thank you for taking your time to submit this issue. Based on the provided error I believe this issue is the same issue as described in #321, would you mind to verify this for me? The fix for this issue is already provided in the issue.

If your are willing to contribute or always wanted to start contribute we can help you with this by guiding you through the process. If you're not interested

[2019-08-29 01:02] bitcointroy commented on #323
That appears to be the same issue. I'll run locally and make the adjustment to the code and let you know if it works. Thanks!

[2019-09-04 12:22] Jefiozie commented on #323
hey @bitcointroy, did you have some time to look into the issue? If you didn't worry  just checking in 😃

[2019-09-04 15:20] #312 closed

[2019-09-15 17:39] #321 closed

[2019-09-15 17:44] Jefiozie commented on #323
This issue is fixed by #324 when we deploy a new release you should be able to work with version 56 of sketch.

[2019-09-15 17:44] #323 closed

[2019-09-23 18:52] AndreiShostik commented on #280
JFYI.
I've commented a workaround here https://github.com/okonet/lint-staged/issues/547#issuecomment-534191338
despite this workaround I would suggest to use `tslint` directly as it is much faster. an investigation process you can find by a link above

[2019-09-25 06:57] Jefiozie commented on #163
To keep everybody posted on this topic, we have created a separate repo for this [xlayers-vscode-extension](https://github.com/xlayers/xlayers-vscode-extenstion). Here you can create issues for bugs, feature request. We did not yet publish it to the marketplace. This is coming soon :)  for now I will close this issue as we have the separated repo.

[2019-09-25 06:57] #163 closed

[2019-10-02 07:57] jacobtyq commented on #234
I will try working on this, forking the repository

[2019-10-02 16:10] LostInBrittany commented on #89
Hey @manekinekko can you give me some pointers to do it? I have been playing with Svelte for some time now, I think I could help here...

[2019-10-02 17:56] kartik-budhiraja commented on #58
@manekinekko I would love to work on this issue if it's up for grabs!

[2019-10-03 09:29] Jefiozie commented on #58
Hi @kartik-budhiraja, thank you for your interested in our project. As you can see it is an issue on or lowest prio because we need to make changes in the way we publish xlayers at this moment.

However, you can work on this issue and we will merge it when everything is set up for this feature.

If you have any questions let us know we will help you where we can.

[2019-10-07 23:12] devinmotion commented on #244
Finally I managed to get a closer look into xLayers 🙌 and took the chance to give this issue a try (although it might be a bit hard for a "good first issue" 💪 ). I started a local WIP-PR to keep track of my changes so far (don't be afraid of commit-format - will adjust when rebasing).

I simply started to follow the existing structure to understand the architecture and some questions arose:
- Shou

[2019-10-08 14:43] Jefiozie commented on #244
Thanks for your honest feedback🙏🏻, I can imagen that some parts of xLayers are hard to understand right away. I will provide some feedback on your comments and also cc: @manekinekko for his ideas around this issue.

I believe it would be nice if it is next to Angular.

I think it would be good to mention some of these points in the readme of the generated code. Do you agree on this?

I think we co

[2019-10-09 12:46] #94 closed

[2019-10-11 05:51] Jefiozie opened #327 "Upgrade to Angular V8.3"
We would like to be on the latest Angular version. This means that we should update xlayers and the dependencies like ngxs.

As the most of our code is Angular, it will be easy to do the upgrade by using the 'ng update' command from the cli.

[2019-10-11 05:54] Jefiozie opened #328 "Publish the separated projects to NPM"
When #303 Is finished we need to publish these packages so that we and the community can use it as a dependency.

[2019-10-17 13:21] kartik-budhiraja commented on #327
@Jefiozie I would like to work on this issue if it's available.

[2019-10-17 17:58] Jefiozie commented on #327
Hi @kartik-budhiraja, thank you for replying, you can work on it if you want. If you need any help just leave a comment and I will do my best to help you.

[2019-10-17 18:18] Jefiozie opened #331 "Stackblitz export is incorrect"
In our Stackblitz services, we create a set of files based on the generated code and pass these through Stackblitz. It seems that by recent changes we have made a change where the component name that is incorrect/ not set correctly. Because of this, you don't see the component in the Stackblitz editor.
[Here](https://github.com/xlayers/xlayers/blob/71d40fc25fe4d441eb9419f27e9e3aca61e8f061/src/app/

[2019-10-19 00:48] kartik-budhiraja commented on #327
@Jefiozie We are aiming to upgrade only angular modules like CDK, cli, core, or are we aiming to upgrade every dependency which has a newer version?

[2019-10-19 08:12] Jefiozie commented on #327
@kartik-budhiraja our main focus should be on the `Angular` and dependencies that relate to the  `@angular/core`. For example `@ngxs/store` is depending on `@angular/core` so probably we should upgrade this as well.

The angular package can be easily upgraded by using the `ng update <package>` command. The others probably need some manual upgrades.

[2019-10-20 22:14] kartik-budhiraja commented on #327
@Jefiozie `ng update <package>` command currently has a bug where it updates rest of the dependencies to beta versions, according to this [comment](https://github.com/angular/angular-cli/issues/14980#issuecomment-523600333) updating dependencies manually in package.json has been suggested. I created a PR #332 with the changes.

[2019-10-21 07:18] Jefiozie commented on #327
Thanks for helping us with this issue and thanks for having a look at the reason `ng update` command did not work. Already reviewed your PR and it looks good! Thank you 🙏🏻

[2019-10-28 18:56] devinmotion opened #333 "Component import in generated Angular module has file type ending"
**Describe the bug**
The ES6 import of the component in the generated Angular module has a `.ts` ending which should be avoided.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npm start` to launch the app.
2. Navigate to the editor `http://localhost:4200/#/editor`
3. Select *any* example
4. Switch to code generation (**<>**)
5. Select the tabs *Angular* and *xlayers.module.ts*.

**

[2019-11-04 19:53] #333 closed

[2019-11-05 13:16] #315 closed

[2019-11-05 14:12] #327 closed

[2019-11-05 14:15] #244 closed

[2019-11-08 11:47] manekinekko opened #340 "chore: update demo file to latest Sketch version"

[2019-11-08 11:48] manekinekko opened #341 "chore: clean up the CHANGELOG.md file"
We need to make sure that the CHANGELOG.md file is always up to date after each release.

[2019-11-28 15:32] #331 closed

[2019-11-30 14:32] #322 closed

[2019-12-12 16:08] #340 closed

[2020-01-02 13:45] coopdesis opened #346 "Could not load a Sketch preview "images/853732577995ec08625706620b0235b0184b90e8.png""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-01-02 14:22] Jefiozie commented on #346
Hi @coopdesis thank you for reporting this issue. Could you add the information to reproduce the bug? Would be nice if you could add the sketch file if possible.

Thanks

[2020-01-02 14:23] manekinekko commented on #346
Hi @coopdesis thanks for opening this issue.

could you please fill in the rest of the info in order to help us better understand your issue. Cheers.

[2020-01-15 12:59] Jefiozie commented on #346
Hi @coopdesis, any updates on this issue?

[2020-01-19 18:01] Jefiozie commented on #346
Hey @coopdesis, for now I'm closing this issue. Please fill free to reopen it in case you have the information and you can provide it to us. Thanks

[2020-01-19 18:01] #346 closed

[2020-03-10 20:37] MrCube42 commented on #191
@manekinekko Looks interesting to me, I could help (built some REST APIs using Nest). Sure you want this to be in an own repository rather than mono repo? Had good experiences with 2 directory like */frontend* and */backend* where each has its own `package.json` in a single repository.

[2020-03-13 20:54] manekinekko commented on #191
Thank you @MrCube42 for this. We were waiting until we publish all different packages to NPM. Eventually, we'd like for this to be in a separate repository.

In the meantime, do you wanna draft a design doc for this before starting the implementation? Please find the design doc template in the [wiki section](https://github.com/xlayers/xlayers/wiki/Design-doc-library).

[2020-03-14 16:14] MrCube42 commented on #191
@manekinekko Sure. I'll have a look and let you know if I had a first draft ready. May take some time though. 🕰

[2020-04-01 22:25] swarburt opened #351 "Could not load a Sketch preview "images/853732577995ec08625706620b0235b0184b90e8.pdf""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-04-01 22:41] manekinekko commented on #351
Hi, could you please provide more details so we can investigate your issue?

[2020-04-01 22:44] swarburt commented on #351
trying to ingest a sketch file. immediatly after dragging the file to the upload area the error message appears.

-Sherry

[2020-04-02 05:53] Jefiozie commented on #351
Hi, could you provide us more details on what sketch version you are using and is it possible to share the sketch file?

[2020-04-02 08:51] swarburt commented on #351
sketch version 53
file size 4.2Mb

Sorry I can not share the sketch file as we are a stealth startup and this forms one of our key front ends.

-Sherry

[2020-04-11 11:38] MrCube42 commented on #191
@manekinekko I created a design document draft https://docs.google.com/document/d/1PN7eQ8d12JgRusO-1pmVuwJXm2HhsLtp4xRGtwfvxvU/edit?usp=sharing. It is in a very early state. Especially the implementation detail needs more work. I tried to fill in everything I can as a starting point and added some initial ideas. I made it available for commenting.

[2020-04-23 03:44] ting521 opened #352 "TypeError: Cannot read property '0' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-04-23 05:08] Jefiozie commented on #352
HI @ting521, could you provide us the information we requested in our issue template? With this we can easy find the root cause of your issue. Without it it will be very hard to find it.
Thanks!

[2020-04-24 08:20] TanuJohari1312 opened #353 "SyntaxError: Unexpected token a in JSON at position 0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-04-24 18:29] sumitparakh commented on #353
Hi @TanuJohari1312,  Thanks for opening this issue.Would you please add sepcific details about this bug like in which case you faced this issue, which browser, version, device and if possible, sketch file as well?
Thanks.

[2020-06-09 13:40] neetutimes opened #354 "Module not found: Error: Can't resolve '@xlayers/angular-codegen' in 'E:\xlayers-master\src\app\editor\code\editor-container\codegen'"
while doing ng serve , I am getting this error
Module not found: Error: Can't resolve '@xlayers/angular-codegen' in 'E:\xlayers-master\src\app\editor\code\editor-container\codegen'

[2020-06-09 13:43] #354 closed

[2020-06-18 15:45] 465media opened #355 "TypeError: Cannot read property 'point' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-06-18 16:41] manekinekko commented on #355
Hi, could you fill in the missing details in the issue template, so we can investigate this issue?

[2020-07-06 22:17] gotman opened #356 "TypeError: Cannot read property '0' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-07-28 05:23] neetutimes opened #357 "TypeError: Cannot read property '$key' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-08-01 10:57] Jefiozie commented on #357
Hi @neetutimes , thanks you for reporting this issue. Could you add the information to reproduce the bug? Would be nice if you could add the sketch file if possible.

Thanks

[2020-08-01 10:57] Jefiozie commented on #356
Hi @gotman, thank you for reporting this issue. Could you add the information to reproduce the bug? Would be nice if you could add the sketch file if possible.

Thanks

[2020-09-14 19:17] Jefiozie commented on #357
I'm closing this issue, for now, to keep our issue tracking clear. If needed you're more then welcome to reopen or file a new issue. Thanks for understanding.

[2020-09-14 19:17] #357 closed

[2020-09-14 19:17] Jefiozie commented on #356
I'm closing this issue, for now, to keep our issue tracking clear. If needed you're more then welcome to reopen or file a new issue. Thanks for understanding.

[2020-09-14 19:17] #356 closed

[2020-09-14 19:17] Jefiozie commented on #355
I'm closing this issue, for now, to keep our issue tracking clear. If needed you're more then welcome to reopen or file a new issue. Thanks for understanding.

[2020-09-14 19:17] #355 closed

[2020-09-14 19:17] Jefiozie commented on #353
I'm closing this issue, for now, to keep our issue tracking clear. If needed you're more then welcome to reopen or file a new issue. Thanks for understanding.

[2020-09-14 19:17] #353 closed

[2020-09-14 19:18] Jefiozie commented on #352
I'm closing this issue, for now, to keep our issue tracking clear. If needed you're more then welcome to reopen or file a new issue. Thanks for understanding.

[2020-09-14 19:18] #352 closed

[2020-09-16 09:51] manekinekko opened #359 "Color generation is not working on Firefox (Windows)"
**Describe the bug**
When you use firefox and open up a sketch demo file sometimes it is missing the correct colors.
It looks like this is a issue with Firefox and windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [xlayers.dev](https://xlayers.dev)
2. Click on `Get Started`
3. Click on `Select a demo file`
4. Click on the first sketch file
5. See missing colors in the card examp

[2020-09-20 18:20] Jefiozie commented on #328
I believe with the mgere of #358 we could close this down

[2020-09-20 19:03] #328 closed

[2020-09-21 12:52] manekinekko opened #362 "Support Vue 3 Code Gen"
**Describe the solution you'd like**
We need to add support for Vue 3 code gen. As a reference, [here is the current Vue 2 code gen implementation](https://github.com/xlayers/xlayers/tree/main/libs/vue-codegen).

[2020-09-22 12:59] manekinekko opened #366 "Convert the stamp script to Node.js for more interoperability"
Our builds are currently failing on Windows because the [stamp.sh](https://github.com/xlayers/xlayers/blob/main/scripts/stamp.bash) does not run on windows.

We'd like to migrate the [stamp.sh](https://github.com/xlayers/xlayers/blob/main/scripts/stamp.bash) script to a Node.js script to be able to run on different OS.

[2020-10-03 08:07] anediaz opened #368 "CSS generation : size/color value conversion"
**Is your feature request related to a problem? Please describe.**
Currently, we codegen CSS code for styling.

**Describe the solution you'd like**
In the generated CSS code, multiple values, like sizes in pixels (or other units), colors in RGBA ... are not converted in a realistic way. For instance :
- sizes with multiple decimal digits :  -0.00000201463535631774px;
- sizes with exponential valu

[2020-10-03 08:15] anediaz opened #369 "Display generated file's original name"
****Is your feature request related to a problem? Please describe.****
Currently, after having selected a SketchApp file to be converted, the preview screen does not show imported file's name.

**Describe the solution you'd like**
I'd be nice to display the file's original name, for example on the left side of the editor, in the top of the lateral column, in order to know which file we are working

[2020-10-03 18:56] kgrandemange commented on #362
Hello @manekinekko do you want Vue 3 template in Typescript or Javascript ?

[2020-10-03 19:43] manekinekko commented on #362
Having both TS and JavaScript would be really great. Otherwise, we'll prioritize TS first.

[2020-10-11 09:00] anediaz commented on #369
I've started to work on this issue.
I hesitate about where to place the file's original name : On the top horizontal bar (editor component) or the left side panel (preview component), or another place?

[2020-10-11 12:15] Jefiozie commented on #366
I'm closing this issue as there is a PR(#367 ) already merged

[2020-10-11 12:15] #366 closed

[2020-10-11 12:16] Jefiozie commented on #359
This issues could be related to #373, when the PR is finished we are going to see if this error is still in place.

[2020-10-14 19:57] manekinekko opened #378 "Generated code is not being highlighted anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Sketch (please complete the followin

[2020-10-14 19:58] #378 closed

[2020-10-16 06:13] Jefiozie commented on #369
Personally I find the one with the filename in the top pretty nice. I would remove the `.sketch` part, this way people only see the name. @manekinekko what do you think?

[2020-10-16 06:46] anediaz commented on #369
I agree with you, I think it'll be better without the extension. I hope juste it is clear enough, I mean, users will understand it is original file's name

[2020-10-16 09:49] manekinekko commented on #359
Fixed in https://github.com/xlayers/xlayers/commit/89a72d30bf91525222a96c0d0cb011c705949d89

[2020-10-16 09:49] #359 closed

[2020-10-16 09:58] manekinekko commented on #369
I also like having the name in the top toolbar. However, I think we also should add an icon based on the file type. For the context, we currently use SketchApp and *.sketch files, but we are planning on adding more design tools. So having the icon of the app (before the file name) would help users quickly identify which design file they are using.

[2020-10-16 10:00] manekinekko commented on #368
Fixed in https://github.com/xlayers/xlayers/commit/89a72d30bf91525222a96c0d0cb011c705949d89

[2020-10-16 10:00] #368 closed

[2020-10-16 10:02] manekinekko commented on #295
Hey @Jefiozie I think this feature has been added in #303. I think we can close this issue.

[2020-10-16 10:05] Jefiozie commented on #295
I think you are right.

[2020-10-16 10:05] #295 closed

[2020-10-16 10:55] anediaz commented on #369
This is an excellent idea, I strongly believe the use of visual elements will improve the user experience!

I'll think about a structure that contains information of all the file types xlayers is compatible with, information we may need for this feature but also future.
- Application/file type name
- Extension
- Logo (or the way to get it)
- Supported or compatible versions with xlayes
...

In add

[2020-10-16 20:37] #234 closed

[2020-10-16 20:49] manekinekko opened #379 "Rethink xLayers's UX"
**Is your feature request related to a problem? Please describe.**
- Currently, when users open the landing page at xlayers.dev, they can read about what's xlayers.
- Next, they click on get started, and get redirected to the [upload](https://xlayers.dev/upload) page.
- After uploading a design file, they get redirected to [the preview UI](https://xlayers.dev/#/editor/preview) where they can inspe

[2020-10-16 22:09] manekinekko opened #382 "Convert demo files to Sketch v69"
We'd love to convert the existing demo files ([here](https://github.com/xlayers/xlayers/tree/main/apps/xlayers/src/assets/demos/sketchapp/59)) into the latest version of Sketch (v69).

## How-to
1. Open all demo files in Sketch v69.
2. Save the files back to disk, under **apps/xlayers/src/assets/demos/sketchapp/69**.
3. Commit and push your changes.

Thank you ❤️

[2020-10-19 13:13] manekinekko commented on #369
Sounds good. Can you make a proposal?

[2020-10-19 16:11] anediaz commented on #369
You can take a look to my branch : https://github.com/anediaz/xlayers/tree/display-original-filename-in-editor
I've created a file named 'compatible-files' which is resposible for giving information about a file based on its name.
I have to fix a cypress test and I'll be ready to create a Merge Request.

It looks like this :
![xlayer1](https://user-images.githubusercontent.com/17216937/96456606-fb

[2020-10-22 05:12] Jefiozie commented on #341
This should be resolved with #388. Releasing will make sure that the changelog is generated. Do you agree on this @manekinekko

[2020-10-22 16:46] ayshiff commented on #379
Hi @manekinekko ! Can I start working on this ? 👍

[2020-10-22 17:58] manekinekko commented on #379
Yes sure! Please send us your suggestions 😃

[2020-10-23 10:08] ayshiff commented on #379
Here is my suggestions which I thought about last night.
I prefer to iterate regularly to get your feedback as quickly as possible to be more efficient and to be sure that I am going in the right direction.

## Landing Page

Currently I have two ideas about this page.

#### Idea 1

The first one is something similar to [codesanbox.io](https://codesandbox.io/?from-app=1) web app with maybe a carous

[2020-10-25 15:48] anediaz commented on #379
Thank you for your suggestions !
If you don't mind, I take the liberty of giving my opinion :-)
For the **Landing Page**, I prefer the first idea, I love the carousel proposition. I think it can give freshness to the website and a modern touch.

For the **Code Generation UI**, I agree with your idea of removing some elements in order to gain some space and create a better user experience.
I also l

[2020-10-27 08:40] Jefiozie commented on #341
Closing this in favor of #388

[2020-10-27 08:40] #341 closed

[2020-10-28 19:49] yamne-it opened #389 "TypeError: Cannot read property 'borders' of undefined"
**Describe the bug**
A message error "TypeError: Cannot read property 'borders' of undefined" is raised when a demo file is selected on URL https://xlayers.dev/#/upload

**To Reproduce**
1. Go to 'https://xlayers.dev/#/upload'
2. Click on 'Select a demo file'
3. Scroll down to 'any demo file'
4. See error

**Expected behavior**
I suppose to open the demo file

**Screenshots**
![image](https://user

[2020-10-28 20:35] manekinekko commented on #389
Thanks for reporting this issue. We will investigate it and keep you posted.

[2020-10-29 07:41] Jefiozie commented on #379
Let me first thank you for creating these ideas and the effort you've put into it! 🙏🏻

About the **Landing Page**
I like the carousel idea, it will help our users to see which frameworks are supported! Would this carousel rotate automatically? Or is only changing when users use the arrows similiar to _codesandbox_? At this moment we've some general information about the usage of xLayers below the

[2020-11-02 16:28] manekinekko commented on #379
Thank you so much @ayshiff these are great suggestions!

Like @anediaz and @Jefiozie, I also prefer **option 1** for the landscape. The code generation UI looks good to me as well.

[2020-11-02 16:34] manekinekko commented on #369
This looks great!

I am wondering if we should explicitly show the version number? maybe we can show it as a title on mouse over the icon? Or something like that?

Because some other software might have some long version numbers like **56.32.5582**

WDYT?

[2020-11-02 16:57] anediaz commented on #369
Yes I agree, it would be better showing explicitly the version number, without charging the screen too much.
I think giving this information is important, but it is not something the user wants to see in a first view.
So I think the mouse over action will be appropriate to show this kind of information.

In addition, currently version number returned by 'supported-files.ts'  is used nowhere, so I

[2020-11-08 11:52] ayshiff commented on #379
Thank you for your feedback 👍
What's the **next step** ? Do we still have to iterate on the UX ?

I think it's better that the carousel doesn't rotate automatically (it could create some frustration for the user who wants to click on a framework that just starts rotating at that exact moment). But I'm not 100% sure, I'm just trying to put myself in the shoes of the user who is going to be on this

[2020-11-11 08:09] anediaz commented on #379
Thank you!!

I agree with you, I don't think we should rotate the carousel automatically. Personally, I feel always frustrated and annoyed with this kind of components.

But maybe, we could imagine a rotation system that turns only once, and then it stops. This way, we show the user the possibility of switching framework. The automatic rotation will be triggered the first time we get to xLayer's m

[2020-11-11 09:55] sumitparakh commented on #379
Nice suggestions.

I was going through the website of some cloud services and could relate UI of their service page with our requirement.

https://azure.microsoft.com/en-in/services/
https://aws.amazon.com/?nc2=h_lg (Check Explore our Solutions section)

Both are showing their services categorically .

What if we also categorize our frameworks into:-

1. Web,
2. Mobile
3. All
etc.

and then toggle

[2020-11-14 19:16] anediaz commented on #382
I've just created the PR

[2020-11-14 21:33] manekinekko commented on #382
Hey @anediaz you can edit the environment files and create a new entry in the array. Here is the new entry to create:

[code]

Here are the files:
- https://github.com/xlayers/xlayers/blob/main/apps/xlayers/src/environments/environment.hmr.ts#L11-L26
- https://github.com/xlayers/xlayers/blob/main/apps/xlayers/src/environments/environment.prod.ts#L11-L26
- https://github.com/xlayers/xlayers/blob/ma

[2020-11-14 21:40] anediaz commented on #382
Yes no problem. As I've only followed your first advice I was surprised this part was forgotten

[2020-11-18 11:41] manekinekko commented on #382
Fixed in https://github.com/xlayers/xlayers/commit/df2c03011d0edd429958cf671d10513aa32705b0

[2020-11-18 11:41] #382 closed

[2020-11-18 12:10] anediaz commented on #379
@sumitparakh I'll contribute to this issue, if you're ok :-)
We'll display static icons on the landing page instead of a carousel, we think is the best solution. On the one hand, because this way we won't spend too much time with carousel's implementation. On the other hand, for the moment we don't support too much Frameworks, to this displaying way responds to our need.

In the code editor, we wi

[2020-11-18 12:36] sumitparakh commented on #379
Hi @anediaz. Thanks for the input.. I just wanted to share my opinion..  Please go on with your development. :)

[2020-11-18 13:13] manekinekko commented on #379
Thank you @sumitparakh ❤️

Hey @ayshiff do you have enough bandwidth to create a prototype based on @anediaz inputs?

[2020-11-18 21:02] ayshiff commented on #379
Hey @manekinekko I should have enough bandwidth to do this.
Is @anediaz already working on this ?
As I saw that @anediaz wanted to start working on it I prefer to ask the question 👍

[2020-11-18 21:10] anediaz commented on #379
No go ahead 😊
I've been assigned to this issue just in case you couldn't work on it.
Enjoy with it!

[2020-11-22 06:55] sumitparakh commented on #89
Hi @manekinekko, may I work on it?

[2020-11-25 14:48] praveeno opened #396 "TypeError: Cannot read property 'borders' of undefined"
**Describe the bug**
When i select `md-components-cards-welcome-back` option of `SketchApp v51`, it is throwing error.

**Screenshots**
![image](https://user-images.githubusercontent.com/19618730/100242849-4456ca00-2f5b-11eb-8c90-f3acc34ca053.png)

**Sketch (please complete the following information):**
SketchApp v51

**Desktop (please complete the following information):**
 - Browser: chrome

[2020-11-25 14:49] #396 closed

[2020-11-27 13:54] manekinekko commented on #89
Hey @sumitparakh sure. Thank you!

[2020-12-05 23:18] pqt opened #399 "Continuous Integration (GitHub Action) is not doing what you think it is."
### Describe the bug
Hey, just a random GitHub action enthusiast that stumbled on your codebase.

There's an incorrect reference in the `node-version` usage to your `strategy.matrix` causing it to silently fail and use the incorrect node version without any indication.

### To Reproduce
Steps to reproduce the behavior:
- Make a PR to `main`
- Take a look at the GitHub action runner logs.

### Expe

[2020-12-05 23:50] pqt commented on #399
There's also another issue but I won't be checking the scope of this.

https://github.com/xlayers/xlayers/blob/9651446b8c4e501d92f47c563196f043bd86194c/.github/workflows/pr_on_development.yml#L70-L100

On your `test` job your final step is named `Run lint` rather than `Run tests`, I assume it's just an oversight from some quick code duplication.

[2020-12-08 20:54] Jefiozie commented on #399
Hi @pqt, thank you for pointing this out to us. I just created a draft PR #400 to handle this issue.

Thank you for creating this issue.

[2020-12-08 23:17] pqt commented on #399
No problem! Love the way the steps were actually separated and I learned about the `needs` key in the process so thanks for that! It seemed only fair that I pointed out the issues I found when I put the action under the microscope.

[2020-12-12 17:47] #399 closed

[2020-12-14 08:06] anediaz commented on #369
Hello,
I think we can close this issue. My PR has been merged since some weeks, I've checked : https://xlayers.dev/
and I see that file's icon is present, but not the version number on mouse over. I think it is related to build cycle.

[2020-12-14 08:09] anediaz commented on #389
I can investigate if you want :innocent:

[2020-12-14 08:17] Jefiozie commented on #389
Go ahead @anediaz 😊 I will assign the issue to you. Thank you for looking into this.

[2020-12-14 08:18] Jefiozie commented on #369
Thank you pointing this out, I will close the issue.

[2020-12-14 08:18] #369 closed

[2021-01-06 11:01] nasiruddin-saiyed commented on #389
@yamne-it  Did you found any solution ? Its still not working :-(

[2021-01-06 12:03] yamne-it commented on #389
I have reported this issue and I haven't tried it again. I was waiting for some feedback since reading the comments above, @anediaz is looking into it.
I suppose she will get back to us when she found the bug or maybe what I was doing wrong 😀

[2021-01-06 12:12] anediaz commented on #389
Hello,
I'm sorry, I haven't had the time to look at this issue.
If you want to look at it you are welcome.
I'll try to look at it as soon as possible :-)

[2021-01-17 14:00] anediaz commented on #389
Hello,
I've tried to reproduce the bug locally but I can't, I mean, everything works well.
I've tried with a macOs and with Ubuntu, and I don't see the message.
However, when I check in 'https://xlayers.dev/#/upload', it is present.

@nasiruddin-saiyed can you give me more information of the way to reproduce it please?
Thank you in advance,
Ane

[2021-01-18 07:12] nasiruddin-saiyed commented on #389
Hello @anediaz,
Sorry for late response,
It's throwing error in
`libs/css-codegen/src/lib/css-parser.service.ts`
while extracting **borders** from styles.

Attached image shows the exact line of error.
![image](https://user-images.githubusercontent.com/32707579/104883132-456c0c80-598a-11eb-9221-62dec3f3d6b5.png)

**Note**: This error appears in production on few components while selecting any of t

[2021-01-18 07:37] anediaz commented on #389
Thank you @nasiruddin-saiyed for all this information!
As I can't see the bug in my local machine your explanation will help me a lot!
I'll try to work on it the next days, and I'll let you know.

Thank you :-)

[2021-01-18 21:02] anediaz commented on #389
Hello @nasiruddin-saiyed,
I have looked at the code and tried to debug the file you mentioned. I've selected one by one all the existing demo files but I can't reproduce the bug.

I don't know why sometimes ``styles`` is undefined, as it respects ``SketchMSLayer`` interface.
Everything looks good for me, so the only idea I have to avoid displaying this message is replacing this :

``const obj = (c

[2021-02-18 10:49] manekinekko commented on #351
Closing. Please reopen an issue if the problem persists. Thank you.

[2021-02-18 10:49] #351 closed

[2021-02-18 13:21] #389 closed

[2021-03-23 13:05] manekinekko opened #409 "Migrate async to waitForAsync"
[`async`](https://angular.io/api/core/testing/async) from `@angular/core/testing` is deprecated in Angular v12. Migrate to [`waitForAsync`](https://angular.io/api/core/testing/waitForAsync)

See #410 for a wip example.

[2021-03-23 14:57] SagarPandita0 commented on #409
Hello, I would love to contribute!

[2021-03-23 15:07] Nicoss54 commented on #409
Hi, I did a Pull request with the necessary change

see: #412

[2021-03-24 06:02] Jefiozie commented on #409
@manekinekko I think this one can be closed now that #412 has landed?

[2021-03-24 08:42] #409 closed

[2021-03-24 08:43] manekinekko commented on #379
Merged in https://github.com/xlayers/xlayers/commit/c1adf5418715929d547c2132d0aeb3b2120c68bd

[2021-03-24 08:43] #379 closed

[2021-03-24 08:53] manekinekko commented on #207
Due to the lack of engineering time, I suggest dropping support for Adobe XD in favor of Figma support.

[2021-03-24 08:53] #207 closed

[2021-03-24 08:53] manekinekko commented on #207
We will reopen this issue if needed.

[2021-03-24 08:59] manekinekko commented on #190
Due to the lack of engineering time, I suggest dropping support for Adobe XD in favor of Figma support. We will reopen this issue if needed.

[2021-03-24 08:59] #190 closed

[2021-03-24 08:59] manekinekko commented on #193
Due to the lack of engineering time, I suggest dropping support for Adobe XD in favor of Figma support. We will reopen this issue if needed.

[2021-03-24 08:59] #193 closed

[2021-03-24 09:02] manekinekko opened #415 "UI designer tool: add support for Figma"
**UI design tool name. Please describe.**
https://www.figma.com/

**File format**
https://www.figma.com/developers

[2021-03-24 09:05] manekinekko commented on #320
@Jefiozie any updates on this?

[2021-03-24 09:06] manekinekko commented on #252
@anediaz any updates on this issue?

[2021-03-24 09:13] manekinekko commented on #191
Hey @MrCube42 sorry about this delay.

Your design doc lgtm. Do you still have time to work on a POC? I've created this repo (https://github.com/xlayers/xlayers-backend-nestjs) where we can push your code once you're ready.

Cheers.

[2021-03-24 17:01] MrCube42 commented on #191
Hey @manekinekko. Thanks for the feedback and reaching out to me again. It's been a while. I completely forgot about this on my personal backlog 😁 I am very unsure about time and motivation at the moment. However I'll put it into my latest bookmarks and will have a look at it again. To be honest, it has low priority for me at the moment, so anyone should feel free build on top of my very first des

[2021-03-24 18:29] manekinekko commented on #191
No worries at all – that's how open source works!

[2021-03-24 20:27] Jefiozie commented on #320
I've made some changes local to start with quicker and incremental build support.
Next steps would be:

- [ ]  start refactoring package for package to be a node package instead of a angular package.
- [ ]  Connect all the packages with a couple of simple angular modules
- [ ] Refactor the internals to use these new packages

[2021-04-01 10:41] anediaz commented on #252
no, sorry.
I haven't had the time to work on it

[2021-04-30 09:24] yassir-a-p opened #420 "UI designer tool: add support for Penpot"
**UI design tool name. Please describe.**
Penpot is design & prototype tool like Figma that is open source web based tool, just like xLayers. https://penpot.app/

**File format**
Penpot's file format is SVG, that is also an open standard. https://www.w3.org/Graphics/SVG/

**Why do you need to have this new support?**
It would be beyond amazing if we have full open source tools from start to finish

[2021-05-04 09:37] manekinekko commented on #420
Thank you for opening this feature request, Yassir. We currently have limited bandwidth to add support for Penpot. Would like to help us with this? I will provide you with help if you are interested.

[2021-06-10 07:46] sumitparakh commented on #362
If no one else is working on it, I would like to take this up.

[2021-06-10 09:05] manekinekko commented on #362
Please do.

[2021-06-14 20:11] sumitparakh opened #427 "stackblitz export not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Select angular
2. Open any demo file
3. Go to code section
4. Click Stackblitz Export button.

**Expected behavior**
It should export generated code to the stackblitz and open it in the new tab.

**Actual behavior**
It throws console error

**Screenshots**
If applicable, a

[2021-06-14 20:31] sumitparakh commented on #427
Figured that it stopped working after this commit: https://github.com/xlayers/xlayers/commit/6aa399c31efe4f63b2bf71a298c7e25c54f1dac2

[2021-06-15 08:25] manekinekko commented on #427
Thank you @sumitparakh for reporting and investigating this.

[2021-06-15 08:26] manekinekko commented on #427
Are you able to provide a fix for this issue?

[2021-06-15 09:16] sumitparakh commented on #427
@manekinekko I can try. Please assign this to me.

[2021-06-28 17:24] #427 closed

[2021-06-29 20:34] sumitparakh opened #429 "e2e test is failing in main branch"
**Describe the bug**
A clear and concise description of what the bug is.

Whenever any PR is merged to main, github action runs some tests in which e2e test case is failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Merge any PR to main
2. Check github action like this:-
https://github.com/xlayers/xlayers/runs/2935222271

**Expected behavior**
Tests should pass

**Screenshots**
If appl

[2021-07-01 20:23] #429 closed

[2021-07-11 05:38] sumitparakh commented on #202
Hi @Jefiozie and @manekinekko , If it is open and still in the roadmap, I would like to work on it after completing #431

[2021-07-11 05:42] sumitparakh opened #432 "README.md file is exported in the wrong directory in stackblitz"
**Describe the bug**
README.md file is exported in the wrong directory in stackblitz

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm start`
2. Select any sketch file
3. Export to stackblitz

**Expected behavior**
README.md file should be in the root directory of the project.

**Screenshots**
![image](https://user-images.githubusercontent.com/4236211/125184095-a806dc80-e238-11eb-86f2

[2021-07-11 15:45] #432 closed

[2021-07-11 18:04] manekinekko commented on #202
Hi @sumitparakh this feature is blocked by #320.

@Jefiozie what's the status of #320?

[2021-07-11 18:22] #89 closed

[2021-07-25 15:15] sumitparakh opened #437 "Proposal: design changes in web framework integration"
While working on Vue3 integration, I realized that it might not be a good idea to write altogether a separate implementation for vue3.

If we integrate vue3 then we might have to show 2 Vue icons in the web frameworks list in landing page. One for vue3 and another one for vue (legacy version).

What if vue releases another major version in future which involves breaking changes like vue3. Are we g

[2021-07-26 14:37] manekinekko commented on #437
Thank you @sumitparakh for bringing this up. This was something we were considering but we were lacking time to work on it.

Would you want to give this a try?

[2021-07-26 14:41] sumitparakh commented on #437
Yes @manekinekko. I want to give it a try.

[2021-08-01 15:46] sumitparakh opened #438 "horizontal scroll exceeds code editor width"
**Describe the bug**
Whenever there are lot of characters in a line in any generated code, horizontal scroller width increases and it starts looking ugly. Therefore impacting user experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Vue
2. Open md-components-notifications-heads-up
3. Open `components/page-1.vue` file
4. Scroll to the bottom of code.

**Expected behavior**
If a

[2021-08-01 16:04] sumitparakh opened #439 "upgrade nx and angular to latest version"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-01 16:41] sumitparakh commented on #439
Working on it.